//
// Breadcrumbs
// --------------------------------------------------


.breadcrumb {
  padding: 8px 15px;
  margin-bottom: 0;
  list-style: none;
  background-color: transparent;
  border-radius: 2px;

  > li {
    display: inline-block;

    + li:before {
      padding: 0 5px;
      color: #ccc;
      content: "/\00a0"; // Unicode space added since inline-block means non-collapsing white-space
    }
  }

  > .active {
    color: $breadcrumb-active-color;
  }
}
