/* NAV TABS */
.nav-tabs-custom {
  margin-bottom: 20px;
  background: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}
// .nav-tabs {
//   margin: 0;
//   border-bottom-color: #f4f4f4;
// }
.nav-tabs .nav-link{
  width: 50%;
  border-radius: 0;
  border-width: 0;
  border-top-width: 3px;
  border-right-width: 1px;
  border-left-width: 1px;
  text-align: center;
}


.tab-content {
  background: #fff;
  padding: 10px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.active {
  border-top-color: #3c8dbc !important;
}
