.table_image {
    width: 125px;
    max-height: 500px;
    height: 75px;
    object-fit: cover;
    /* position: relative; */
}
.table_none_image {
    height: 75px;
    background: #eee;
    /* position: relative; */
    width: 125px;
    text-align: center;
}
.table_none_image p{
    font-size: 16px;
    color: #999;
    transform: translate(0%, 110%);
}
