.loader{
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 10000;
  text-align: center;
  vertical-align: middle;
  background-color: #e8f0ff70;
  display: none;
}



.loader-box{
  display: inline-block;
	width: 100%;
	height: 100%;
	font-size: 30px;
	padding: 45vh;
	position: relative;
	margin-bottom: .25em;
	transition: .3s color, .3s border, .3s transform, .3s opacity;
}
/////////////////////////////////////
.loader-04 {
  display: inline-block;
	width: 1em;
	height: 1em;
	color: inherit;
	vertical-align: middle;
	pointer-events: none;
	border: 1px solid currentcolor;
	border-radius: 50%;
	animation: 1s loader-04 linear infinite;
	position: relative;
	&:before {
		content: '';
		display: block;
		width: 0;
		height: 0;
		position: absolute;
		top: 50%;
		left: 50%;
		border: .2em solid currentcolor;
		border-radius: 50%;
	}
}

@keyframes loader-04 {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
