@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import './value';


@font-face {
  font-family: afruz;
  src: url(../font/afruz.ttf);
}



* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}




html,
body {
  height: 100%;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  text-align: right;
  direction: rtl;
  // background-color: #fff;
}
.layout-boxed html,
.layout-boxed body {
 height: 100%;
}
body {
 font-family: "afruz", 'ardeshir';
 font-weight: 400;
 overflow-x: hidden;
 overflow-y: auto;
 // text-transform: uppercase;
}

input{
 text-transform: uppercase;
}
::placeholder {
  font-family: "afruz", 'ardeshir' !important;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-family: "afruz", 'ardeshir' !important;
}
::-moz-placeholder { /* Firefox 19+ */
  font-family: "afruz", 'ardeshir' !important;
}
:-ms-input-placeholder { /* IE 10+ */
  font-family: "afruz", 'ardeshir' !important;
}


/* H1 - H6 font */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "afruz", 'ardeshir';
}


.h1 .small, .h1 small, .h2 .small, .h2 small, .h3 .small, .h3 small,
.h4 .small, .h4 small, .h5 .small, .h5 small, .h6 .small, .h6 small,
h1 .small, h1 small, h2 .small, h2 small, h3 .small, h3 small, h4 .small,
h4 small, h5 .small, h5 small, h6 .small, h6 small {
    font-weight: 400;
    line-height: 1;
    color: #777;
}


/* General Links */
a {
  color: #3c8dbc;
}
a:hover,
a:active,
a:focus {
  outline: none;
  text-decoration: none;
  color: #72afd2;
}

label {
    margin-top: .5rem;
}
