



.mainCover{
      position: absolute;
      min-width: 50%;
}

.mainCover img{
  background-size: cover;
  width: 100%;
  height: 45vh;
  object-fit: cover;
}

.gradientCover{
  position: relative;
  display: flex;
  align-items: center;
  height: 45vh;
  width: 100%;
  background: linear-gradient(to right, #000000bd, #000000b5, #0202026e)
}
.gradientCover p{
  color: #fff;
}
.gradientCover h1{
  color: #fff;
}





.titleCover{
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none !important;
}
.titleCover .CArticle{
  font-size: 25px;
  text-align: center;
}
.titleCover h1{
  margin-top: 8px;
  font-size: 50px;
  margin-bottom: 20px;
  font-weight: bold;
  text-align: center;
}
.titleCover .DArticle{
  font-size: 15px;
  line-height: 2;
  text-align: left;
}
.chosenBox{
  position: relative;
}


.describTD p{
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.btn_chosen_lang{
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  padding: 0;
}

@media (min-width: 1600px){
  .col-xl-6 {
      width: 50%;
  }
}
@media (min-width: 1200px){
  .searchBox{
      height: 45vh;
  }
  .search_btn {
      position: absolute;
      bottom: 15px;
      right: 15px;
      width: 40%;
  }
}
