.metadata_input{
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: none;
}
::-webkit-input-placeholder {
    font-family: 'afruz' !important;
}
::-moz-placeholder {
    font-family: 'afruz' !important;
}
:-ms-input-placeholder {
    font-family: 'afruz' !important;
}
::placeholder {
    font-family: 'afruz' !important;
}


.cover_block{
  height: 390px;
  position: relative;
  margin-top: 15px;
}
.cover_none_image {
    height: 390px;
    background: #eee;
    position: absolute;
    width: 100%;
    text-align: center;
}
.cover_none_image p{
    font-size: 30px;
    color: #999;
    transform: translate(0%, 340%);
}

.cover_image {
    position: absolute;
    width: 100%;
    height: 390px;
    object-fit: cover;
}
.btn_upload_cover{
  position: absolute;
  bottom: 10px;
  left: 10px;
  // margin: 10px;
  display: flex;
  @media screen and (max-width: 767px) {
    max-width: 93%;
  }
}

.required_error {
    border-color: red !important;
}




.ck.ck-button__label {
    font-family: 'afruz' !important;
}

.ck.ck-editor__main>.ck-editor__editable {
    min-height: 80px;
}
