{% extends 'admin_base.html' %}
{% block title %}Login{% endblock %}

{% block content %}


        <div class="modal fade" id="choose_cover_modal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">{{t('modalPhotoTitle')}}</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">*</span></button>
              </div>
              <div class="modal-body">
                <div class="form-horizontal">
                  <div class="box-body">

                    <div class="form-group">
                      <label for="inputEmail3" class="col-sm-2 control-label">{{t('modalPhotoName')}}</label>

                      <div class="col-sm-12">
                        <input type="text"autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="form-control required_modal" id="cover_name" placeholder="{{t('modalPhotoNamePlaceholder')}}">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">{{t('modalPhotoLicence')}}</label>

                      <div class="col-sm-12">
                        <input type="text"autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="form-control metadata_input required_modal" id="cover_license" placeholder="{{t('modalPhotoLicencePlaceholder')}}">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">{{t('modalPhotoSource')}}</label>

                      <div class="col-sm-12">
                        <input type="text"autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="form-control metadata_input required_modal" id="cover_source" placeholder="{{t('modalPhotoSourcePlaceholder')}}">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">{{t('modalPhotoAuthor')}}</label>

                      <div class="col-sm-12">
                        <input type="text"autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="form-control required_modal" id="cover_author" placeholder="{{t('modalPhotoAuthorPlaceholder')}}">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label"></label>

                      <div class="col-sm-12">
                        <button type="button" id="loadFileXml" class="btn btn-default col-md-3" onclick="document.getElementById('send_cover').click();">{{t('modalPhotoSelect')}}</button>

                      </div>
                    </div>

                  </div>
                </div>



              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">{{t('modalPhotoCancelBtn')}}</button>
                <button type="button" id="choose_cover" class="btn btn-primary">{{t('modalPhotoSendBtn')}}</button>
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper"  autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      {{t('addArticlesPageTitle')}}
      <!-- <small>LE[Z'[Z QKLXAY</small> -->
    </h1>
    <ol class="breadcrumb">
      <li><a href="/admin"><i class="fa fa-dashboard"></i> {{t('navigationMain')}}</a></li>
      <li class="active">{{t('navigationAddArticle')}}</li>
    </ol>
  </section>




    <!-- Main content -->
    <section class="content">
      <div id="jostar" class="row">
        <div class="col-md-12">


          {% if formData['post']%}
              {% if formData['form_errors']%}
                  <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">*</button>
                    <h4><i class="icon fa fa-ban"></i>@ZLKYU$</h4>
                    JKL @KYJPWDKY'Z FPNDAL @ZLKYU@[ C[O'@AXKJ.
                  </div>
              {% else %}
                  <div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">*</button>
                    <h4><i class="icon fa fa-check"></i>TAX[AB</h4>
                    FPNDAL'Z {{formData['artName']}} BA TAX[AB[ @KYJPWDZ'OEJ.
                  </div>
              {% endif %}
          {% endif %}


          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">{{t("addArticlesPageFirstSection")}}</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <div class="box-body row">


              <div class=" col-md-6">

                <div class="form-group">
                  <label for="hashtag_name">{{t('addArticlesPageLang')}}</label>
                  <!-- <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="text" class="form-control required" id="hashtag_name" placeholder="BKLGKNB'Z_YAX""> -->
                  <select id='langChooser' class="form-control select2" style="width: 100%;">
                    <!-- <option value="CL" selected="selected">YE@[LAY[T</option> -->
                    {% for lang in formData['languages_list'] %}
                      <option value="{{lang.name_id}}">{{lang.show if formData['languages_list'][0]['name_id']=='CL' else lang.show}}</option>
                    {% endfor %}
                  </select>
                </div>


                <div id="rootSection" class=""  style="display: {{'none' if formData['languages_list'][0]['name_id']=='CL' else 'block'}};">
                  <div class="form-group">
                    <label for="hashtag_name">{{t("addArticlesPageRoot")}} </label>
                    <!-- <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="text" class="form-control required" id="hashtag_name" placeholder="BKLGKNB'Z_YAX""> -->
                    <select id='RootAr' class="form-control select2" style="width: 100%;">
                      <option selected="selected"></option>
                      {% for a in article_list %}
                          <option value={{a.hashtag_name}} data-cover="{{a.cover_url}}">{{a.title}}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>

              </div>



              <div class=" col-md-6">
                <div class="form-group">
                  <label class="font-weight-bold" for="name">{{t('addArticlesPageCategories')}} </label>
                  <!-- <label class="form-control-plaintext" for="user_name">**********</label> -->
                  <select data-default='' id='articles_categories' name='articles_categories[]'
                          class="form-control select2" style="width: 100%;"  multiple="multiple"
                          data-cateList='{{formData['Categories_list']|tojson|safe}}'>
                      <!-- <option value="CL" >YE@[LAY[T</option> -->
                      {% for a in formData['Categories_list'] %}
                          {% if a.lang == formData['languages_list'][0]['name_id'] %}
                          <option value="{{a.id}}" >{{a.text}}</option>
                          {% endif %}
                      {% endfor %}
                  </select>
                </div>
              </div>


              <div class=" col-md-12">
                <div class="form-group cover_block">
                  <div class="cover_none_image">
                      <p>{{t('photoNone')}}</p>
                  </div>
                  <img class="cover_image" id="cover_image" src="" alt="">
                  <!-- <button type="button" id="loadFileXml" class="btn btn-default btn_upload_cover col-md-3" onclick="document.getElementById('cover_image_btn').click();">BALU[L[</button> -->
                  <!-- <input type="file" style="display:none;" id="cover_image_btn" name="file"/> -->
                  <div class="btn_upload_cover">
                      <button type="button" id="RootCoverBtn" class="btn btn-default  col-upload-btn" style='display:none;' data-rootCover="" data-rootCoverAccepted='false'>{{t("addArticlesPageRootPhoto")}}</button>
                      <button type="button" id="loadFileXml" class="btn btn-default  col-upload-btn" data-toggle="modal" data-target="#choose_cover_modal">{{t("addArticlesPageAddPhoto")}}</button>
                      <button type="button" id="removeCover" class="btn btn-danger  col-upload-btn" >*</button>
                  </div>

                </div>
              </div>

              <div class=" col-md-6">
                <div class="form-group">
                  <label for="hashtag_name">{{t("addArticlesPageArticleTag")}}</label>
                  <input  dir="auto" autocomplete="off" autocorrect="off" autocapitalize="off"
                          spellcheck="false" type="text" class="form-control required" id="hashtag_name" placeholder="{{t("addArticlesPageArticleTag")}}">
                </div>
              </div>
                <div class=" col-md-6">
                <div class="form-group">
                  <label for="name">{{t("addArticlesPageArticleTitle")}}</label>
                  <input  dir="auto" autocomplete="off" autocorrect="off" autocapitalize="off"
                          spellcheck="false" type="" class="form-control required" id="name" placeholder="{{t("addArticlesPageArticleTitle")}}">
                </div>
              </div>

              <div class="col-md-12">
                <div class="form-group" id="editor_desc">
                  <label>{{t("addArticlesPageArticleDescrib")}}</label>
                  <textarea  autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
                            class="form-control required" rows="3" id="main_description" placeholder="{{t("addArticlesPageArticleDescrib")}}..."></textarea>
                </div>
              </div>
              <!-- /.box-body -->

            </div>
          </div>
        </div>
        <!-- /.box -->






        <div class="col-md-12" id="submit_box">
          <div class="box box-primary">
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form" action="/admin/editor" method="post" enctype="multipart/form-data" id="send_form">

              <input type="text" style="display:none;" name="json" id="send_json">
              <input type="text" style="display:none;" name="metadata" id="cover_metadata_json">
              <input type="file" style="display:none;" name="cover" id="send_cover">

              <div class="box-footer">
                <button type="button" id="add_info" class="btn btn-info">+ {{t("addArticlesPageAddInfoBtn")}}</button>
                <button type="button" id="submit_form" class="btn btn-primary">{{t('addArticlesPageSendBtn')}}</button>
              </div>
            </form>
          </div>
        </div>
        <!-- /.box -->



      </div>
      <!-- ./row -->
    </section>
    <!-- /.content -->
  </div>

  {% endblock content %}


  {% block footer %}
      <!-- <script src="{{ url_for('admin_app.static', filename='bower_components/ckeditor/5/ckeditor.js') }}"></script> -->
      <script src="https://cdn.ckeditor.com/ckeditor5/17.0.0/classic/ckeditor.js"></script>
      <!-- <script src="{{ url_for('admin_app.static', filename='bower_components/select2/dist/js/select2.full.min.js') }}"></script> -->
      <script src="{{ url_for('admin_app.static', filename='js/editor.js') }}"></script>
      <!-- Bootstrap WYSIHTML5 -->
      <script>
        CreateEditor('{{formData['languages_list'][0]['name_id']}}')
        $('.select2').select2(
          {
            "language": {
              "noResults": function(searchedTerm) {
                return "{{t('tableNoResults') | safe }}";
              }
            },
            "escapeMarkup": function(markup) {
              return markup;
            }
          }
        )

        $('#RootAr').select2(
          {
            "language": {
              "noResults": function(searchedTerm) {
                return "{{t('tableNoResults') | safe }}";
              }
            },
            placeholder: 'BKLUEM[Y...',
            allowClear: true,   // Shows an X to allow the user to clear the value.
            "escapeMarkup": function(markup) {
              return markup;
            }
          }
        )
      </script>
  {% endblock footer %}
