{% extends 'admin_base.html' %}
{% block title %}Login{% endblock %}

{% block content %}






<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper"  autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      {{t('addUserPageTitle')}}
      <!-- <small>LE[Z'[Z QKLXAY</small> -->
    </h1>
    <ol class="breadcrumb">
      <li><a href="/admin"><i class="fa fa-dashboard"></i> {{t('navigationMain')}}</a></li>
      <li><a href="/admin/article_list">{{t('navigationProfiles')}}</a></li>
      <li class="active">{{t('navigationAddUser')}}</li>
    </ol>
  </section>




    <!-- Main content -->
    <section class="content">
      <div id="jostar" class="row">
        <div class="col-md-12">


          {% if formData['post']%}
              {% if formData['form_errors']%}
                  <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">*</button>
                    <h4><i class="icon fa fa-ban"></i>@ZLKYU$</h4>
                    JKL @KYJPWDKY'Z FPNDAL @ZLKYU@[ C[O'@AXKJ.
                  </div>
              {% else %}
                  <div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">*</button>
                    <h4><i class="icon fa fa-check"></i>TAX[AB</h4>
                    FPNDAL'Z {{formData['artName']}} BA TAX[AB[ @KYJPWDZ'OEJ.
                  </div>
              {% endif %}
          {% endif %}


          <!-- <div class="box box-primary"> -->
          <form role="form" class="box box-primary" action="/admin/add_user" method="post" enctype="application/json" id="add_user_form">
            <div class="box-header with-border">
              <h3 class="box-title">{{t('addUserPageFirstSection')}}</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <div class="box-body row">


              <div class=" col-md-6">
                <div class="form-group">
                  <label for="first_name">{{t('addUserPageFirstName')}}</label>
                  <input autocomplete="off" autocorrect="off" autocapitalize="off" name="first_name" onkeyup="this.value = this.value.toUpperCase();"
                         spellcheck="false" type="text" class="form-control required" id="first_name" placeholder="YAX"  value="" >
                </div>
              </div>
              <div class=" col-md-6">
                <div class="form-group">
                  <label for="last_name">{{t('addUserPageLastName')}}</label>
                  <input autocomplete="off" autocorrect="off" autocapitalize="off" name="last_name" onkeyup="this.value = this.value.toUpperCase();"
                        spellcheck="false" type="" class="form-control required" id="last_name" placeholder="YAX'Z WAYZRAJZU[T" value="">
                </div>
              </div>

              <div class=" col-md-6">
                <div class="form-group">
                  <label for="user_name">{{t('addUserPageUserName')}}</label>
                  <input autocomplete="off" autocorrect="off" autocapitalize="off" name="user_name" onkeyup="this.value = this.value.toUpperCase();"
                         spellcheck="false" type="{{'text' if userData['level'][2]==9 else 'number'}}" class="form-control required" id="user_name" placeholder="YAX'Z TALBKL[T"  value="" >
                </div>
              </div>
              <div class=" col-md-6">
                <div class="form-group">
                  <label for="name">{{t('addUserPageUserLang')}}</label>

                  <select id='UILang' name='lang' class="form-control select2" style="width: 100%;">
                      <!-- <option value="CL" selected="selected">YE@[LAY[T</option> -->
                      {% for lang in formData['languages_list'] %}
                        <option value="{{lang.name_id}}">{{lang.show}}</option>
                      {% endfor %}
                  </select>
                </div>
              </div>

              <div class=" col-md-6" >
                <div class=" row" >
                    <div class=" col-md-6">
                      <div class="form-group">
                        <label for="hashtag_name">{{t('addUserPageJLevel')}}</label>
                        <select id='JLevel' name='JLevel' class="form-control select2" style="width: 100%;">
                          <option value="0" >{{t('userZeroLevel')}}</option>
                          <option value="1" selected="selected">{{t('userFirstLevel')}}</option>
                          <option value="2" >{{t('userSecondLevel')}}</option>
                          <option value="3" >{{t('userThirdLevel')}}</option>
                          <option value="9" >{{t('userNinthLevel')}}</option>
                        </select>
                      </div>
                    </div>
                    <div class=" col-md-6">
                      <div class="form-group">
                        <label for="name">{{t('addUserPageJAllowedLang')}}</label>

                        <select id='articles_allowed_lang' name='articles_allowed_lang[]' class="form-control select2" style="width: 100%;"  multiple="multiple">
                            <!-- <option value="CL" selected="selected">YE@[LAY[T</option> -->
                            {% for lang in formData['languages_list'] %}
                              <option value="{{lang.name_id}}">{{lang.name}}</option>
                            {% endfor %}
                        </select>
                      </div>
                    </div>
                  </div>
                </div>


                <div class=" col-md-6" >
                  <div class="row" >
                      <div class=" col-md-6">
                        <div class="form-group">
                          <label for="hashtag_name">{{t('addUserPageVLevel')}}</label>
                          <select id='VLevel' name='VLevel' class="form-control select2" style="width: 100%;">
                              <option value="0" selected="selected">{{t('userZeroLevel')}}</option>
                              <option value="1" >{{t('userFirstLevel')}}</option>
                              <option value="2" >{{t('userSecondLevel')}}</option>
                              <option value="3" >{{t('userThirdLevel')}}</option>
                              <option value="9" >{{t('userNinthLevel')}}</option>
                          </select>
                        </div>
                      </div>
                      <div class=" col-md-6">
                        <div class="form-group">
                          <label for="name">{{t('addUserPageWAllowedLang')}}</label>

                          <select id='words_allowed_lang' name='words_allowed_lang[]' class="form-control select2" style="width: 100%;"  multiple="multiple">
                              <option value="CL">YE@[LAY[T</option>
                              {% for lang in formData['languages_list'] %}
                                <option value="{{lang.name_id}}">{{lang.name}}</option>
                              {% endfor %}
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
              <!-- /.box-body -->
            </div>


            <div class="box-footer">
                <div class="row">
                  <div class=" col-md-6">
                    <div class="form-group">
                      <label for="pass">{{t('addUserPagePass')}}</label>
                      <input autocomplete="off" autocorrect="off" autocapitalize="off" name="pass"
                             spellcheck="false" type="password" class="form-control required" id="pass" placeholder="UEJALRAHZ"  value="">
                    </div>
                  </div>
                  <div class=" col-md-6">
                    <div class="form-group">
                      <label for="repass">{{t('addUserPageReePass')}}</label>
                      <input autocomplete="off" autocorrect="off" autocapitalize="off"
                             spellcheck="false" type="password" class="form-control required" id="repass" placeholder="CAMYZR[N['Z UEJALRAHZ" value="">
                    </div>
                  </div>
                </div>
            </div>


          </form>
        </div>
        <!-- /.box -->







        <!-- box -->
        <div class="col-md-12" id="submit_box">
          <div class="box box-primary">
              <div class="box-footer">
                <button type="button" id="submit_form" class="btn btn-primary">{{t('addUserPageSendBtn')}}</button>
              </div>
          </div>
        </div>
        <!-- /.box -->



      </div>
      <!-- ./row -->
    </section>
    <!-- /.content -->
  </div>

  {% endblock content %}


  {% block footer %}
      <!-- <script src="{{ url_for('admin_app.static', filename='bower_components/ckeditor/5/ckeditor.js') }}"></script> -->
      <script src="{{ url_for('admin_app.static', filename='js/addUser.js') }}"></script>
      <!-- <script src="https://cdn.ckeditor.com/ckeditor5/12.4.0/classic/ckeditor.js"></script> -->
      <!-- Bootstrap WYSIHTML5 -->
      <script>
        $('.select2').select2(
          {
            "language": {
              "noResults": function(searchedTerm) {
                return "{{t('tableNoResults') | safe }}";
              }
            },
            "escapeMarkup": function(markup) {
              return markup;
            }
          }
        )


      </script>
  {% endblock footer %}
