{% extends 'admin_base.html' %}
{% block title %}Login{% endblock %}

{% block content %}




<div class="modal fade" id="replaces_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">MEJPJKY$</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">*</span></button>
      </div>
      <div class="modal-body">
        <div class="form-group col-md-12">
          @A[A X[WAI[J @[Y FPNDAL LA BZMEJA[[J?
        </div>
        <div class="form-group col-md-6">
          <div class="form-group">
            <label for="exampleInputPassword1" style="height: 13px;"></label>
            <button type='button' id='' class='btn btn-info add_replace form-control' >+ {{t("editWordPageAddInfoBtn")}}</button>
          </div>
        </div>


        <div class="info_table col-md-12"></div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">YK</button>
        <button type="button" id="set_replaces" class="btn btn-primary">MEJPJKY</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper"  autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      {{t('addWordPageTitle')}}
      <!-- <small>LE[Z'[Z QKLXAY</small> -->
    </h1>
    <ol class="breadcrumb">
      <li><a href="/admin"><i class="fa fa-dashboard"></i> {{t('navigationMain')}}</a></li>
      <li class="active">{{t('navigationAddArticle')}}</li>
    </ol>
  </section>




    <!-- Main content -->
    <section class="content">
      <div id="jostar" class="row">
        <div class="col-md-12">

          <div id="alert_section">
            <div id="ajax-alert" class="alert" style="display: none">
                <a class="close" data-hide="alert">*</a>
                <h4><i class="icon fa fa-check"></i>TAX[AB</h4>
                FPNDAL'Z {{formData['artName']}} BA TAX[AB[ @KYJPWDZ'OEJ.
            </div>
          </div>



          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">{{t("addWordPageFirstSection")}}</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <div class="box-body row">





              <div class=" col-md-6">
                <div class="form-group">
                  <label for="hashtag_name">{{t("addWordPageWord")}}</label>
                  <input  dir="auto" autocomplete="off" autocorrect="off" autocapitalize="off"
                          spellcheck="false" type="text" class="form-control required" id="word" placeholder="{{t("addWordPageWord")}}">
                </div>
              </div>

              <div class=" col-md-6">
                <div class="form-group">
                  <label for="hashtag_name">{{t('addWordPageLang')}}</label>
                  <!-- <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="text" class="form-control required" id="hashtag_name" placeholder="BKLGKNB'Z_YAX""> -->
                  <select id='langChooser' class="form-control select2-required" style="width: 100%;">
                    <!-- <option value="CL" selected="selected">YE@[LAY[T</option> -->
                    {% for lang in formData['languages_list'] %}
                      <option value="{{lang.name_id}}">{{lang.show if formData['languages_list'][0]['name_id']=='CL' else lang.show}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>


              <div class=" col-md-6">
                <div class="form-group">
                  <label for="name">{{t("addWordPagePronounce")}}</label>
                  <input  dir="auto" autocomplete="off" autocorrect="off" autocapitalize="off"
                          spellcheck="false" type="" class="form-control" id="pronounce" placeholder="{{t("addWordPagePronounce")}}">
                </div>
              </div>


              <div id="rootSection2" class=" col-md-6" >
                <div class="form-group">
                  <label for="hashtag_name">{{t("addWordPageRoot")}} </label>
                  <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="text" class="form-control" id="root_word" placeholder="{{t("addWordPageRoot")}}"">
                  <!-- <select id='RootWr' class="form-control select2" style="width: 100%;">
                    <option selected="selected"></option>

                  </select> -->
                </div>
              </div>


              <div id="replaceSection" class=" col-md-6" >
                <div class="form-group">
                  <label for="hashtag_name">{{t("addWordPageReplace")}} </label>
                  <!-- <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="text" class="form-control" id="replace_words" placeholder="{{t("addWordPageReplacePlaceholder")}}""> -->
                  <a class="" data-toggle="modal" data-target="#replaces_modal">
                      <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" disabled
                             type="text" class="form-control input-clickable" id="replace_words" placeholder="{{t("addWordPageReplacePlaceholder")}}"">
                  </a>
                </div>
              </div>




              <div id="" class="col-md-6" >
                <div class="form-group">
                  <label for="hashtag_name">{{t("addWordPageWordType")}}</label>
                  <!-- <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="text" class="form-control required" id="hashtag_name" placeholder="BKLGKNB'Z_YAX""> -->
                  <select id='wordType' class="form-control select2" style="width: 100%;">
                    <option selected="selected"></option>
                    <option value="1">{{t("addWordPageWordTypeNoun")}}</option>
                    <option value="2">{{t("addWordPageWordTypeAdjective")}}</option>
                    <option value="3">{{t("addWordPageWordTypeIrony")}}</option>
                    <option value="4">{{t("addWordPageWordTypeNum")}}</option>
                    <option value="5">{{t("addWordPageWordTypeVerb")}}</option>
                    <option value="6">{{t("addWordPageWordTypeAdverb")}}</option>
                    <option value="7">{{t("addWordPageWordTypepreposition")}}</option>
                    <option value="8">{{t("addWordPageWordTypeConjunction")}}</option>
                    <option value="9">{{t("addWordPageWordTypeSounds")}}</option>
                    <option value="@">{{t("addWordPageWordTypePronoun")}}</option>
                    <option value="A">{{t("addWordPageWordTypePrefix")}}</option>
                    <option value="B">{{t("addWordPageWordTypeSuffix")}}</option>
                  </select>
                </div>
              </div>


              <div id="" class="col-md-12 row in_row" >

                            <div id="nounNumber" class="typeOption nounOptions col-md-3 col-sm-6" style="display: none" >
                              <div class="form-group">
                                <label for="">{{t("addWordPageWordNumber")}} </label>
                                <!-- <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="text" class="form-control required" id="hashtag_name" placeholder="BKLGKNB'Z_YAX""> -->
                                <select id='nounNumberSelect' class="form-control select2" style="width: 100%;">
                                  <option selected="selected"></option>
                                  <option value="1">{{t("addWordPageWordTypeSingular")}}</option>
                                  <option value="2">{{t("addWordPageWordTypeDual")}}</option>
                                  <option value="3">{{t("addWordPageWordTypePlural")}}</option>
                                </select>
                              </div>
                            </div>

                            <div id="nounMoods" class="typeOption nounOptions col-md-3 col-sm-6" style="display: none" >
                              <div class="form-group">
                                <label for="hashtag_name">{{t("addWordPageWordMoods")}} </label>
                                <!-- <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="text" class="form-control required" id="hashtag_name" placeholder="BKLGKNB'Z_YAX""> -->
                                <select id='nounMoodsSelect' class="form-control select2" style="width: 100%;">
                                  <option selected="selected"></option>
                                  <option value="1">{{t("addWordPageWordNahadi")}}</option>
                                  <option value="2">{{t("addWordPageWordRaei")}}</option>
                                  <option value="3">{{t("addWordPageWordBaei")}}</option>
                                  <option value="4">{{t("addWordPageWordBaraei")}}</option>
                                  <option value="5">{{t("addWordPageWordAzi")}}</option>
                                  <option value="6">{{t("addWordPageWordVabaste")}}</option>
                                  <option value="7">{{t("addWordPageWordDarei")}}</option>
                                  <option value="8">{{t("addWordPageWordFarakhanei")}}</option>
                                </select>
                              </div>
                            </div>

                            <div id="nounSex" class="typeOption nounOptions col-md-3 col-sm-6" style="display: none" >
                              <div class="form-group">
                                <label for="">{{t("addWordPageWordSex")}} </label>
                                <!-- <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="text" class="form-control required" id="hashtag_name" placeholder="BKLGKNB'Z_YAX""> -->
                                <select id='nounSexSelect' class="form-control select2" style="width: 100%;">
                                  <option selected="selected"></option>
                                  <option value="1">{{t("addWordPageWordMale")}}</option>
                                  <option value="2">{{t("addWordPageWordFemale")}}</option>
                                  <option value="3">{{t("addWordPageWordNeutral")}}</option>
                                </select>
                              </div>
                            </div>



                            <div id="verbNumber" class="typeOption verbOptions col-md-3 col-sm-6" style="display: none" >
                              <div class="form-group">
                                <label for="">{{t("addWordPageWordNumber")}} </label>
                                <!-- <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="text" class="form-control required" id="hashtag_name" placeholder="BKLGKNB'Z_YAX""> -->
                                <select id='verbNumberSelect' class="form-control select2" style="width: 100%;">
                                  <option selected="selected"></option>
                                  <option value="1">{{t("addWordPageWordTypeSingular")}}</option>
                                  <option value="2">{{t("addWordPageWordTypeDual")}}</option>
                                  <option value="3">{{t("addWordPageWordTypePlural")}}</option>
                                </select>
                              </div>
                            </div>

                            <div id="verbTranIntran" class="typeOption verbOptions col-md-3 col-sm-6" style="display: none" >
                              <div class="form-group">
                                <label for="hashtag_name">{{t("addWordPageWordTranIntran")}} </label>
                                <!-- <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="text" class="form-control required" id="hashtag_name" placeholder="BKLGKNB'Z_YAX""> -->
                                <select id='verbTranIntranSelect' class="form-control select2" style="width: 100%;">
                                  <option selected="selected"></option>
                                  <option value="1">{{t("addWordPageWordTransitive")}}</option>
                                  <option value="2">{{t("addWordPageWordIntransitive")}}</option>
                                </select>
                              </div>
                            </div>

                            <div id="verbPointView" class="typeOption verbOptions col-md-3 col-sm-6" style="display: none" >
                              <div class="form-group">
                                <label for="">{{t("addWordPageWordPointView")}} </label>
                                <!-- <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="text" class="form-control required" id="hashtag_name" placeholder="BKLGKNB'Z_YAX""> -->
                                <select id='verbPointViewSelect' class="form-control select2" style="width: 100%;">
                                  <option selected="selected"></option>
                                  <option value="1">{{t("addWordPageWordFirstPerson")}}</option>
                                  <option value="2">{{t("addWordPageWordSecondPerson")}}</option>
                                  <option value="3">{{t("addWordPageWordThirdPerson")}}</option>
                                </select>
                              </div>
                            </div>

                            <div id="verbTime" class="typeOption verbOptions col-md-3 col-sm-6" style="display: none" >
                              <div class="form-group">
                                <label for="">{{t("addWordPageWordTime")}} </label>
                                <!-- <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="text" class="form-control required" id="hashtag_name" placeholder="BKLGKNB'Z_YAX""> -->
                                <select id='verbTimeSelect' class="form-control select2" style="width: 100%;">
                                  <option selected="selected"></option>
                                  <option value="1">{{t("addWordPageWordPast")}}</option>
                                  <option value="2">{{t("addWordPageWordPresent")}}</option>
                                  <option value="3">{{t("addWordPageWordFuture")}}</option>
                                </select>
                              </div>
                            </div>

              </div>

              <!-- /.box-body -->

            </div>
          </div>
        </div>
        <!-- /.box -->


        <div class="col-md-12" >
               <div class="box box-primary">
                   <div class="box-header">
                     <h3 class='box-title'>@AUAI[[T'Z B[ODKL</h3>
                     <div class="pull-right box-tools">
                       <button type="button" class="btn btn-default btn-sm" data-widget="remove" data-toggle="tooltip" title="Remove">
                         <i class="fa fa-times"></i></button>
                     </div>
                   </div>

                   <div class="box-body pad meaning_box row">
                     <div class="box-body info col-md-12">
                         <div class="col-md-12 row">
                           <div class="form-group col-md-4">
                             <label for="exampleInputPassword1">{{t('editWordPageWordDic')}}</label>
                             <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type=""
                                   class="author form-control required" placeholder="{{t('editWordPageWordDic')}}" value="">
                           </div>
                           <div id="verbNumber" class="form-group col-md-4" >
                             <div class="form-group">
                               <label for="exampleInputPassword1">{{t('editWordPageLang')}}</label>
                               <select id="" class="form-control  trans_lang" style="width: 100%;">
                                 {% for lang in formData['languages_list'] %}
                                   <option value="{{lang.name_id}}">{{lang.show if formData['languages_list'][0]['name_id']=='CL' else lang.show}}</option>
                                 {% endfor %}
                               </select>
                             </div>
                           </div>
                           <div class="form-group col-md-4">
                             <div class="form-group">
                               <label for="exampleInputPassword1" style="height: 13px;"></label>
                               <button type='button' id='' class='btn btn-info add_meaning form-control' >+ {{t("editWordPageAddInfoBtn")}}</button>
                             </div>
                           </div>
                         </div>
                       </div>

                     <div class="box-body info col-md-12">
                       <div class="form-group col-md-12">
                         <label for="exampleInputPassword1">{{t('editWordPageWordMean')}}</label>
                         <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type=""
                                class="translation form-control required" placeholder="{{t('editWordPageWordMean')}}" value="">
                       </div>
                     </div>

                     <div class="info_table col-md-12"></div>
                 </div>
               </div>
              </div>



        <div class="col-md-12" id="submit_box">
          <div class="box box-primary">
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form" action="/admin/editor" method="post" enctype="multipart/form-data" id="send_form">

              <input type="text" style="display:none;" name="json" id="send_json">
              <input type="text" style="display:none;" name="metadata" id="cover_metadata_json">
              <input type="file" style="display:none;" name="cover" id="send_cover">

              <div class="box-footer">
                <button type="button" id="add_meaning" class="btn btn-info">+ {{t("addWordPageAddInfoBtn")}}</button>
                <button type="button" id="submit_form" class="btn btn-primary">{{t('addWordPageSendBtn')}}</button>
              </div>
            </form>
          </div>
        </div>
        <!-- /.box -->



      </div>
      <!-- ./row -->
    </section>
    <!-- /.content -->
  </div>

  {% endblock content %}


  {% block footer %}
      <script type="text/javascript">

        var languages_list = {{formData['languages_list'] | tojson}}
        var langLable = "{{t('addWordPageLang')}}"
        var WordDic = "{{t('addWordPageWordDic')}}"
        var addInfoBtn = "{{t('addWordPageAddInfoBtn')}}"
        var wordMean = "{{t('addWordPageWordMean')}}"
      </script>
      <!-- <script src="{{ url_for('admin_app.static', filename='bower_components/ckeditor/5/ckeditor.js') }}"></script> -->
      <script src="https://cdn.ckeditor.com/ckeditor5/17.0.0/classic/ckeditor.js"></script>
      <!-- <script src="{{ url_for('admin_app.static', filename='bower_components/select2/dist/js/select2.full.min.js') }}"></script> -->
      <script src="{{ url_for('admin_app.static', filename='js/addWord.js') }}"></script>
      <!-- Bootstrap WYSIHTML5 -->
      <script>

        $('.select2').select2(
          {
            "language": {
              "noResults": function(searchedTerm) {
                return "{{t('tableNoResults') | safe }}";
              }
            },
            placeholder: 'BKLUEM[Y...',
            allowClear: true,   // Shows an X to allow the user to clear the value.
            "escapeMarkup": function(markup) {
              return markup;
            }
          }
        )

        $('.select2-required').select2(
          {
            "language": {
              "noResults": function(searchedTerm) {
                return "{{t('tableNoResults') | safe }}";
              }
            },
            placeholder: 'BKLUEM[Y...',
            allowClear: false,   // Shows an X to allow the user to clear the value.
            "escapeMarkup": function(markup) {
              return markup;
            }
          }
        )

      </script>
  {% endblock footer %}
