<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Admin Videsta</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- <link rel="stylesheet" href="{{ url_for('admin_app.static', filename='bower_components/font-awesome/css/font-awesome.min.css') }}"> -->
  <!-- Ionicons -->
  <!-- <link rel="stylesheet" href="{{ url_for('admin_app.static', filename='bower_components/Ionicons/css/ionicons.min.css') }}"> -->

  <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
  <!-- Bootstrap 4.4.1 -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


  <!-- Theme style -->
  {% if userData['UI_Dir']=='ltr' %}
      <link rel="stylesheet" href="{{ url_for('admin_app.static', filename='css/style.css') }}">
  {% else %}
      <link rel="stylesheet" href="{{ url_for('admin_app.static', filename='css/style-rtl.css') }}">
  {% endif %}

  <!-- <link rel="stylesheet" href="{{ url_for('admin_app.static', filename='css/AdminLTE.css') }}"> -->

  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" href="{{ url_for('admin_app.static', filename='css/skins/_all-skins.css') }}">
  <link rel="stylesheet" href="{{ url_for('admin_app.static', filename='css/skins/skin-black-light.css') }}">



  <!-- Morris chart -->
  <!-- <link rel="stylesheet" href="{{ url_for('admin_app.static', filename='bower_components/morris.js/morris.css') }}"> -->
  <!-- jvectormap -->
  <!-- <link rel="stylesheet" href="{{ url_for('admin_app.static', filename='bower_components/jvectormap/jquery-jvectormap.css') }}"> -->
  <!-- Date Picker -->
  <!-- <link rel="stylesheet" href="{{ url_for('admin_app.static', filename='bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css') }}"> -->
  <!-- Daterange picker -->
  <!-- <link rel="stylesheet" href="{{ url_for('admin_app.static', filename='bower_components/bootstrap-daterangepicker/daterangepicker.css') }}"> -->
  <!-- bootstrap wysihtml5 - text editor -->
  <!-- <link rel="stylesheet" href="{{ url_for('admin_app.static', filename='plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css') }}"> -->

</head>




<body class="hold-transition skin-black-light sidebar-mini ">

  <div id="loader" class="loader">
    <div class="loader-box">
      <div class="loader-04"></div>
    </div>
  </div>

    <div class="wrapper">

      <header class="main-header">
        <!-- Logo -->
        <a href="/admin" class="logo">
          <!-- mini logo for sidebar mini 50x50 pixels -->
          <span class="logo-mini">{{t('logoMini')}}</span>
          <!-- logo for regular state and mobile devices -->
          <span class="logo-lg"><b>{{t('logo')}}</b></span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top">
          <!-- Sidebar toggle button-->
          <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
          </a>

          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              <!-- Messages: style can be found in dropdown.less-->
              <!--li class="dropdown messages-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-envelope-o"></i>
                  <span class="label label-success">4</span>
                </a>
                <ul class="dropdown-menu">
                  <li class="header">You have 4 messages</li>
                  <li>
                    <!-- inner menu: contains the actual data - ->
                    <ul class="menu">
                      <li><!-- start message - ->
                        <a href="#">
                          <div class="pull-left">
                            <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                          </div>
                          <h4>
                            Support Team
                            <small><i class="fa fa-clock-o"></i> 5 mins</small>
                          </h4>
                          <p>Why not buy a new awesome theme?</p>
                        </a>
                      </li>
                      <!-- end message - ->
                      <li>
                        <a href="#">
                          <div class="pull-left">
                            <img src="dist/img/user3-128x128.jpg" class="img-circle" alt="User Image">
                          </div>
                          <h4>
                            AdminLTE Design Team
                            <small><i class="fa fa-clock-o"></i> 2 hours</small>
                          </h4>
                          <p>Why not buy a new awesome theme?</p>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="pull-left">
                            <img src="dist/img/user4-128x128.jpg" class="img-circle" alt="User Image">
                          </div>
                          <h4>
                            Developers
                            <small><i class="fa fa-clock-o"></i> Today</small>
                          </h4>
                          <p>Why not buy a new awesome theme?</p>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="pull-left">
                            <img src="dist/img/user3-128x128.jpg" class="img-circle" alt="User Image">
                          </div>
                          <h4>
                            Sales Department
                            <small><i class="fa fa-clock-o"></i> Yesterday</small>
                          </h4>
                          <p>Why not buy a new awesome theme?</p>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="pull-left">
                            <img src="dist/img/user4-128x128.jpg" class="img-circle" alt="User Image">
                          </div>
                          <h4>
                            Reviewers
                            <small><i class="fa fa-clock-o"></i> 2 days</small>
                          </h4>
                          <p>Why not buy a new awesome theme?</p>
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li class="footer"><a href="#">See All Messages</a></li>
                </ul>
              </li>
              <!-- Notifications: style can be found in dropdown.less - ->
              <li class="dropdown notifications-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-bell-o"></i>
                  <span class="label label-warning">10</span>
                </a>
                <ul class="dropdown-menu">
                  <li class="header">You have 10 notifications</li>
                  <li>
                    <!-- inner menu: contains the actual data - ->
                    <ul class="menu">
                      <li>
                        <a href="#">
                          <i class="fa fa-users text-aqua"></i> 5 new members joined today
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="fa fa-warning text-yellow"></i> Very long description here that may not fit into the
                          page and may cause design problems
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="fa fa-users text-red"></i> 5 new members joined
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="fa fa-shopping-cart text-green"></i> 25 sales made
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="fa fa-user text-red"></i> You changed your username
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li class="footer"><a href="#">View all</a></li>
                </ul>
              </li>
              <!-- Tasks: style can be found in dropdown.less - ->
              <li class="dropdown tasks-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-flag-o"></i>
                  <span class="label label-danger">9</span>
                </a>
                <ul class="dropdown-menu">
                  <li class="header">You have 9 tasks</li>
                  <li>
                    <!-- inner menu: contains the actual data - ->
                    <ul class="menu">
                      <li><!-- Task item - ->
                        <a href="#">
                          <h3>
                            Design some buttons
                            <small class="pull-right">20%</small>
                          </h3>
                          <div class="progress xs">
                            <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar"
                                 aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                              <span class="sr-only">20% Complete</span>
                            </div>
                          </div>
                        </a>
                      </li>
                      <!-- end task item - ->
                      <li><!-- Task item - ->
                        <a href="#">
                          <h3>
                            Create a nice theme
                            <small class="pull-right">40%</small>
                          </h3>
                          <div class="progress xs">
                            <div class="progress-bar progress-bar-green" style="width: 40%" role="progressbar"
                                 aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                              <span class="sr-only">40% Complete</span>
                            </div>
                          </div>
                        </a>
                      </li>
                      <!-- end task item -->
                      <li><!-- Task item - ->
                        <a href="#">
                          <h3>
                            Some task I need to do
                            <small class="pull-right">60%</small>
                          </h3>
                          <div class="progress xs">
                            <div class="progress-bar progress-bar-red" style="width: 60%" role="progressbar"
                                 aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                              <span class="sr-only">60% Complete</span>
                            </div>
                          </div>
                        </a>
                      </li>
                      <!-- end task item -->
                      <li><!-- Task item - ->
                        <a href="#">
                          <h3>
                            Make beautiful transitions
                            <small class="pull-right">80%</small>
                          </h3>
                          <div class="progress xs">
                            <div class="progress-bar progress-bar-yellow" style="width: 80%" role="progressbar"
                                 aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                              <span class="sr-only">80% Complete</span>
                            </div>
                          </div>
                        </a>
                      </li>
                      <!-- end task item - ->
                    </ul>
                  </li>
                  <li class="footer">
                    <a href="#">View all tasks</a>
                  </li>
                </ul>
              </li>
              <!-- User Account: style can be found in dropdown.less -->
              <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <!-- <img src="dist/img/user2-160x160.jpg" class="user-image" alt="User Image"> -->
                  <span class="hidden-xs">{{userData['name']}}</span>
                </a>
                <ul class="dropdown-menu">
                  <!-- User image -->
                  <li class="user-header">

                    <p>
                      {{userData['name']}}
                      <small>2012</small>
                    </p>
                  </li>
                  <!-- Menu Body -->
                  <li class="user-body">
                    <a href="/admin/profile/{{userData['user_name']}}" class="btn btn-default btn-flat">{{t('userOptionProfile')}}</a>
                    <!-- /.row -->
                  </li>
                  <!-- Menu Footer-->
                  <li class="user-footer">
                    <a href="/admin/logout" class="btn btn-default btn-flat">{{t('userOptionLogOut')}}</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </nav>
      </header>

      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">

          <ul class="sidebar-menu" data-widget="tree">

            {% if userData['level'][0] > 2 or userData['level'][2]== 9  %}
            <li class="{{'active' if formData['active_menu']=='categories'}} treeview">
              <a href="#">
                <i class="fa fa-dashboard"></i> <span>{{t('menuCategory')}}</span>
                <span class="pull-{{'left' if userData['UI_Dir']!='ltr' else 'right'}}-container">
                  <i class="fa fa-angle-left pull-{{'left' if userData['UI_Dir']!='ltr' else 'right'}}"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <!-- <li class="active"><a href="/admin/categories_list"><i class="fa fa-circle-o"></i> {{t('CZILZND')}}</a></li> -->
                <li class="{{'active' if formData['active_submenu']=='cateList'}}"><a href="/admin/categories_list"><i class="fa fa-circle-o"></i> {{t('menuCategoryList')}}</a></li>
                <li class="{{'active' if formData['active_submenu']=='addCate'}}"><a href="/admin/add_category"><i class="fa fa-circle-o"></i> {{t('menuCategoryAdd')}}</a></li>
              </ul>
            </li>
            {% endif %}

            {% if userData['level'][0] > 0 or userData['level'][2]== 9  %}
            <li class="{{'active' if formData['active_menu']=='articles'}} treeview">
              <a href="#">
                <i class="fa fa-files-o"></i> <span>{{t('menuArticles')}}</span>
                <span class="pull-{{'left' if userData['UI_Dir']!='ltr' else 'right'}}-container">
                  <i class="fa fa-angle-left pull-{{'left' if userData['UI_Dir']!='ltr' else 'right'}}"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <!-- <li class="active"><a href="/admin/categories_list"><i class="fa fa-circle-o"></i> {{t('CZILZND')}}</a></li> -->
                <li class="{{'active' if formData['active_submenu']=='articleList'}}"><a href="/admin/article_list"><i class="fa fa-circle-o"></i> {{t('menuArticlesList')}}</a></li>
                <li class="{{'active' if formData['active_submenu']=='addArti'}}"><a href="/admin/editor"><i class="fa fa-circle-o"></i> {{t('menuArticlesAdd')}}</a></li>
              </ul>
            </li>
            {% endif %}

            {% if userData['level'][1] > 0 or userData['level'][2]== 9  %}
            <li class="{{'active' if formData['active_menu']=='words'}} treeview">
              <a href="#">
                <i class="fa fa-files-o"></i> <span>{{t('menuWords')}}</span>
                <span class="pull-{{'left' if userData['UI_Dir']!='ltr' else 'right'}}-container">
                  <i class="fa fa-angle-left pull-{{'left' if userData['UI_Dir']!='ltr' else 'right'}}"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <!-- <li class="active"><a href="/admin/categories_list"><i class="fa fa-circle-o"></i> {{t('CZILZND')}}</a></li> -->
                <li class="{{'active' if formData['active_submenu']=='wordsList'}}"><a href="/admin/words_list"><i class="fa fa-circle-o"></i> {{t('menuArticlesList')}}</a></li>
                <li class="{{'active' if formData['active_submenu']=='addword'}}"><a href="/admin/add_words"><i class="fa fa-circle-o"></i> {{t('menuArticlesAdd')}}</a></li>
              </ul>
            </li>
            {% endif %}

            {% if userData['level'][0]== 9 or userData['level'][1]== 9 or userData['level'][2]== 9  %}
                  <li class="{{'active' if formData['active_menu']=='Profiles'}} treeview">
                    <a href="#">
                      <i class="fa fa-files-o"></i> <span>{{t('menuUsers')}}</span>
                      <span class="pull-{{'left' if userData['UI_Dir']!='ltr' else 'right'}}-container">
                        <i class="fa fa-angle-left pull-{{'left' if userData['UI_Dir']!='ltr' else 'right'}}"></i>
                      </span>
                    </a>
                    <ul class="treeview-menu">
                      <!-- <li class="active"><a href="/admin/categories_list"><i class="fa fa-circle-o"></i> {{t('CZILZND')}}</a></li> -->
                      <li class="{{'active' if formData['active_submenu']=='ProfilesList'}}"><a href="/admin/profile_list"><i class="fa fa-circle-o"></i> {{t('menuUsersList')}}</a></li>
                      <li class="{{'active' if formData['active_submenu']=='adduser'}}"><a href="/admin/add_user"><i class="fa fa-circle-o"></i> {{t('menuUsersAdd')}}</a></li>
                    </ul>
                  </li>

            {% endif %}

            {% if userData['level'][0]== 9 and userData['level'][1]== 9 and userData['level'][2]== 9  %}
              <li class="{{'active' if formData['active_menu']=='langsList'}}">
                <a href="/admin/language_list">
                  <i class="fa fa-edit"></i> <span>{{t('menulanguages')}}</span>
                </a>
              </li>
            {% endif %}

            {% if userData['level'][2]== 9  %}
                  <li class="{{'active' if formData['active_menu']=='Pages'}} treeview">
                    <a href="#">
                      <i class="fa fa-files-o"></i> <span>{{t('menuPages')}}</span>
                      <span class="pull-{{'left' if userData['UI_Dir']!='ltr' else 'right'}}-container">
                        <i class="fa fa-angle-left pull-{{'left' if userData['UI_Dir']!='ltr' else 'right'}}"></i>
                      </span>
                    </a>
                    <ul class="treeview-menu">
                      <!-- <li class="active"><a href="/admin/categories_list"><i class="fa fa-circle-o"></i> {{t('CZILZND')}}</a></li> -->
                      <li class="{{'active' if formData['active_submenu']=='PagesList'}}"><a href="/admin/pages_list"><i class="fa fa-circle-o"></i> {{t('menuPagesList')}}</a></li>
                      <li class="{{'active' if formData['active_submenu']=='addPage'}}"><a href="/admin/add_page"><i class="fa fa-circle-o"></i> {{t('menuPagesAdd')}}</a></li>
                    </ul>
                  </li>

            {% endif %}
          </ul>

        </section>
        <!-- /.sidebar -->
      </aside>

      {% block content %}{% endblock %}

      <!-- /.content-wrapper -->
      <footer class="main-footer">
        <div class="pull-{{'left' if userData['UI_Dir']!='ltr' else 'right'}} hidden-xs">
          <b>@ZXLPM:</b> 26-6-2578
        </div>
        <!-- <strong>Copyright &copy; 2014-2019 <a href="https://adminlte.io">AdminLTE</a>.</strong> All rights -->
        reserved.
      </footer>

      <!-- /.control-sidebar -->
      <!-- Add the sidebar's background. This div must be placed
           immediately after the control sidebar -->
      <div class="control-sidebar-bg"></div>
    </div>
    <!-- ./wrapper -->





    <!-- jQuery 3 -->
    <!-- <script src="{{ url_for('admin_app.static', filename='bower_components/jquery/dist/jquery.min.js') }}"></script> -->
    <!-- jQuery UI 1.11.4 -->
    <!-- <script src="{{ url_for('admin_app.static', filename='bower_components/jquery-ui/jquery-ui.min.js') }}"></script> -->
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <!-- script>
      // $.widget.bridge('uibutton', $.ui.button);
    </script -->
    <!-- Bootstrap 3.3.7 -->
    <!-- <script src="{{ url_for('admin_app.static', filename='bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script> -->
    <!-- Morris.js charts -->
    <!-- <script src="bower_components/raphael/raphael.min.js"></script> -->
    <!-- <script src="bower_components/morris.js/morris.min.js"></script> -->
    <!-- Sparkline -->
    <!-- <script src="bower_components/jquery-sparkline/dist/jquery.sparkline.min.js"></script> -->
    <!-- jvectormap -->
    <!-- <script src="plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script> -->
    <!-- <script src="plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script> -->
    <!-- jQuery Knob Chart -->
    <!-- <script src="bower_components/jquery-knob/dist/jquery.knob.min.js"></script> -->
    <!-- daterangepicker -->
    <!-- <script src="bower_components/moment/min/moment.min.js"></script> -->
    <!-- <script src="bower_components/bootstrap-daterangepicker/daterangepicker.js"></script> -->
    <!-- datepicker -->
    <!-- <script src="bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script> -->
    <!-- Bootstrap WYSIHTML5 -->

    <!-- jQuery 3 -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" ></script>
    <!-- jQuery UI 1.11.4 -->

    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
    <!--script>
      // $.widget.bridge('uibutton', $.ui.button);
    </script -->
    <!-- Bootstrap 3.3.7 -->

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <script src="{{ url_for('admin_app.static', filename='js/dash.js') }}"></script>
    {% block footer %}{% endblock %}


  </body>
</html>
