{% extends 'admin_base.html' %}
{% block title %}Login{% endblock %}

{% block content %}

<div class="modal fade" id="delete_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{t('modalDeleteTitle')}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">*</span></button>
      </div>
      <div class="modal-body">

        <form role="form" action="/admin/categories_list" method="post" enctype="application/json" id="delete_form">

            <input type="text" style="display:none;" name="article_hashtag" id="delete_hashtag_name" value="">
            <input type="text" style="display:none;" name="type" value="delete">

            <!-- <button type="button" id="submit_form" class="btn btn-block btn-danger">MEJPJKY</button> -->
        </form>


        <div class="form-horizontal">
          <div class="box-body">
            {{t('modalDeleteDescription')}}
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">{{t('modalDeleteCancelBtn')}}</button>
        <button type="button" id="delete_article" class="btn btn-danger">{{t('modalDeleteSendBtn')}}</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->






<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      {{t('CategoriesPageTitle')}}
      <small>{{t('ListPageSmallTitle')}}</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="/admin"><i class="fa fa-dashboard"></i> {{t('navigationMain')}} </a></li>
      <li class="active">{{t('navigationCategories')}}</li>
      <!-- <li class="active">Data tables</li> -->
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="row">

      <div class="col-lg-12">
        <div class="box">
          <div class="box-body row">
              <div class="col-lg-12 ">
                <div class="row">
                  <div class=" col-md-6">
                    <div class="form-group">
                      <label for="hashtag_name">TZV[JRAHZ</label>
                      <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="text" class="form-control required" id="hashtag_name" placeholder="BKLGKNB'Z_YAX"  value="">
                    </div>
                  </div>
                  <div class=" col-md-6">
                    <div class="form-group">
                      <label for="name">MKBAY</label>
                      <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="" class="form-control required" id="name" placeholder="BKLYAX" value="">
                    </div>
                  </div>
                  <div class=" col-md-6">
                    <div class="form-group">
                      <label for="hashtag_name">QZILZND BKL CA[Z[Z:</label>
                      <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="text" class="form-control required" id="hashtag_name2" placeholder="BKLGKNB'Z_YAX"  value="">
                    </div>
                  </div>
                  <div class="search_col">
                      <button type="button" class="btn btn-block btn-info search_btn">FP[ZO</button>
                  </div>

                </div>
              </div>
          </div>
        </div>

      </div>


      <div class="col-lg-12">

        <div class="box">
          <!-- <div class="box-header">
            <h3 class="box-title">Data Table With Full Features</h3>
          </div> -->
          <!-- /.box-header -->
          <div class="box-body">
            <table id="example1" class="table table-bordered table-striped" width="100%">
              <thead>
              <tr>
                <th></th>
                <th>{{t('tableLang')}}</th>
                <th>{{t('tableTag')}}</th>
                <th>{{t('tableTitle')}}</th>
                <th>{{t('tableDescription')}}</th>
                <th>{{t('tablePhoto')}}</th>
                <th>{{t('tableAction')}}</th>
              </tr>
              </thead>
              <tbody>
              {% for a in Categories_list %}
                  <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{a.lang}}</td>
                    <td>{{a.hashtag_name}}</td>
                    <td>{{a.title}}</td>
                    <td class="describTD">{{a.description|safe}}</td>
                    <td>
                      {% if  a.cover_url %}
                      <img class="table_image" id="" src="{{ '/media/'+a.cover_url if a.cover_url else '' }}" alt="">
                      {% else %}
                        <div class="table_none_image"><p>B[QKLDPL</p></div>
                      {% endif %}
                    </td>
                    <td>
                        <div class="">
                          <a href="/admin/category/{{ a.hashtag_name}}" class="btn btn-block btn-info">{{t('tableEditBtn')}}</a>
                          <!-- <button type="button" class="btn btn-block btn-danger delete_btn">MEJPJKY</button> -->
                          <div class="btn-block delete_div">
                              <input type="text" style="display:none;" class="hashtagName" value="{{ a.hashtag_name}}">
                              <!-- <input type="text" style="display:none;" name="type" id="type" value="delete"> -->
                              <button type="button" class="btn btn-block btn-danger delete_btn">{{t('tableDeleteBtn')}}</button>
                              <!-- <button type="button" id="submit_form" class="btn btn-block btn-danger">MEJPJKY</button> -->
                          </div>
                          <!-- <button type="button" class="btn btn-block btn-danger delete_btn" data-toggle="modal" data-target="#delete_modal">MEJPJKY</button> -->
                        </div>
                    </td>
                  </tr>
              {% endfor %}

              </tbody>
              <tfoot>
              <tr>
                <th></th>
                <th>{{t('tableLang')}}</th>
                <th>{{t('tableTag')}}</th>
                <th>{{t('tableTitle')}}</th>
                <th>{{t('tableDescription')}}</th>
                <th>{{t('tablePhoto')}}</th>
                <th>{{t('tableAction')}}</th>
              </tr>
              </tfoot>
            </table>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

  {% endblock content %}


  {% block footer %}

      <!-- DataTables -->
      <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.21/datatables.min.css"/>
      <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.21/datatables.min.js"></script>

      <script>
        $(function () {
          // $('#example1').DataTable()
          $('#example1').DataTable({
            "oLanguage": {
              "sInfo": "{{t('tableInfoShow')}}  _START_ {{t('tableInfoTo')}} _END_ {{t('tableInfoFrom')}} _TOTAL_ ",
              "sSearch": "{{t('tableInfoSearch')}}",
              "sZeroRecords": "{{t('tableRecords')}}",
              "sInfoEmpty": "{{t('tableInfoEmpty')}}",
              "sLengthMenu": "{{t('tableLengthMenu')}} _MENU_",
              "oPaginate": {
                "sNext": "{{t('tableNext')}}",
                "sPrevious": "{{t('tablePrevious')}}",

              }
            },
            "scrollX": true,
            "bSort" : false
            // 'paging'      : true,
            // 'lengthChange': true,
            // 'searching'   : false,
            // 'ordering'    : true,
            // 'info'        : true,
            // 'autoWidth'   : false
          })
        })
      </script>


      <script src="{{ url_for('admin_app.static', filename='js/cateList.js') }}"></script>

  {% endblock footer %}
