{% extends 'admin_base.html' %}
{% block title %}Login{% endblock %}

{% block content %}

        <input type="text" style="display:none;" id="article_lang" value="{{formData['article']['lang']}}">
        <div class="modal fade" id="choose_cover_modal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">{{t("modalPhotoTitle")}}</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">*</span></button>
              </div>
              <div class="modal-body">
                <div class="form-horizontal">
                  <div class="box-body">

                    <div class="form-group">
                      <label for="inputEmail3" class="col-sm-2 control-label">{{t('modalPhotoName')}}</label>

                      <div class="col-sm-12">
                        <input type="text"autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="form-control required_modal" id="cover_name" placeholder="{{t("modalPhotoNamePlaceholder")}}">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">{{t('modalPhotoLicence')}}</label>

                      <div class="col-sm-12">
                        <input type="text"autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="form-control metadata_input required_modal" id="cover_license" placeholder="{{t("modalPhotoLicencePlaceholder")}}">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">{{t('modalPhotoSource')}}</label>

                      <div class="col-sm-12">
                        <input type="text"autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="form-control metadata_input required_modal" id="cover_source" placeholder="{{t("modalPhotoSourcePlaceholder")}}">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">{{t('modalPhotoAuthor')}}</label>

                      <div class="col-sm-12">
                        <input type="text"autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="form-control required_modal" id="cover_author" placeholder="{{t("modalPhotoAuthorPlaceholder")}}">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label"></label>

                      <div class="col-sm-12">
                        <button type="button" id="loadFileXml" class="btn btn-default col-md-3" onclick="document.getElementById('send_cover').click();">{{t('modalPhotoSelect')}}</button>

                      </div>
                    </div>

                  </div>
                </div>



              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">{{t("modalPhotoCancelBtn")}}</button>
                <button type="button" id="choose_cover" class="btn btn-primary">{{t("modalPhotoSendBtn")}}</button>
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper"  autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      {{t("editArticlesPageTitle")}}: {{formData['article']['title']}}
      <!-- <small>LE[Z'[Z QKLXAY</small> -->
    </h1>
    <ol class="breadcrumb">
      <li><a href="/admin"><i class="fa fa-dashboard"></i>{{t('navigationMain')}}</a></li>
      <li><a href="/admin/article_list">{{t("navigationArticles")}}</a></li>
      <li class="active">{{t('navigationEditArticles')}}</li>
    </ol>
  </section>




    <!-- Main content -->
    <section class="content">
      <div id="jostar" class="row">
        <div class="col-md-12">


          {% if formData['post']%}
              {% if not formData['success']%}
                  <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">*</button>
                    <h4><i class="icon fa fa-ban"></i>@ZLKYU$</h4>
                    JKL @KYJPWDKY'Z FPNDAL @ZLKYU@[ C[O'@AXKJ.
                  </div>
              {% else %}
                  <div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">*</button>
                    <h4><i class="icon fa fa-check"></i>TAX[AB</h4>
                    FPNDAL'Z {{formData['artName']}} BA TAX[AB[ @KYJPWDZ'OEJ.
                  </div>
              {% endif %}
          {% endif %}


          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">{{t("editArticlesPageFirstSection")}}</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <div class="box-body row">

              {% if userData['level'][0] == 9 %}
                <!-- <div id="rootSection" class=" col-md-6"  style="display: {{'none' if formData['article']['author_username']==userData['user_name'] else 'block'}};"> -->
                <div id="rootSection" class=" col-md-6" >
                    <div class="form-group">
                      <label for="last_user">{{t('editArticlesPageLastAuthor')}}</label>
                      <a href="/admin/profile/{{formData['article']['author_username']}}" id="last_user">
                          <input  autocomplete="off" autocorrect="off" autocapitalize="off" disabled
                                  spellcheck="false" type="text" class="form-control required" id="word"
                                  value="{{formData['article']['author']}}" >
                      </a>
                    </div>
                </div>
              {% endif %}

              <div id="rootSection" class=" col-md-6"  style="display: {{'none' if formData['article']['lang']=='CL' else 'block'}};">
                <div class="form-group">
                  <label for="hashtag_name">{{t("editArticlesPageRoot")}}</label>
                  <!-- <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="text" class="form-control required" id="hashtag_name" placeholder="BKLGKNB'Z_YAX""> -->
                  <select id='RootAr' class="form-control select2" style="width: 100%;">
                    <option selected="selected"></option>
                    {% for a in formData['article_list'] %}
                        <option value={{a.hashtag_name}} data-cover="{{a.cover_url}}"  {{'selected' if formData['article']['root_name']==a.hashtag_name }}>{{a.title}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>


              <div class=" col-md-6">
                <div class="form-group">
                  <label class="font-weight-bold" for="name">{{t('editArticlesPageCategories')}} </label>
                  <!-- <label class="form-control-plaintext" for="user_name">**********</label> -->
                  <select data-default='' id='articles_categories' name='articles_categories[]'
                          class="form-control select2" style="width: 100%;"  multiple="multiple"
                          data-cateList='{{formData['Categories_list']|tojson|safe}}'>
                      <!-- <option value="CL" >YE@[LAY[T</option> -->
                      {% for a in formData['Categories_list'] %}
                          {% if a.lang == formData['article']['lang'] %}
                          <option value="{{a.id}}" {{'selected' if a.id in formData['article']['category'] }}>{{a.text}}</option>
                          {% endif %}
                      {% endfor %}
                  </select>
                </div>
              </div>



              <div class=" col-md-12">
                <div class="form-group cover_block">
                  <div class="cover_none_image">
                      <p>{{t('photoNone')}}</p>
                  </div>
                  <img class="cover_image" id="cover_image" src="/media/{{ formData['article']['cover_url'] }}" alt="">
                  <!-- <button type="button" id="loadFileXml" class="btn btn-default btn_upload_cover col-md-3" onclick="document.getElementById('cover_image_btn').click();">BALU[L[</button> -->
                  <div class="btn_upload_cover">
                      <button type="button" id="RootCoverBtn" class="btn btn-default  col-upload-btn" style='display:{{'block' if formData['article']['root_name'] else 'none'}};' data-rootCover="" data-rootCoverAccepted='false'>{{t("editArticlesPageRootPhoto")}}</button>
                      <button type="button" id="loadFileXml" class="btn btn-default  col-upload-btn" data-toggle="modal" data-target="#choose_cover_modal">{{t("editArticlesPageAddPhoto")}}</button>
                      <button type="button" id="removeCover" class="btn btn-danger  col-upload-btn" >*</button>
                  </div>
                  <!-- <input type="file" style="display:none;" id="cover_image_btn" name="file"/> -->
                </div>
              </div>

              <div class=" col-md-6">
                <div class="form-group">
                  <label for="hashtag_name">{{t("editArticlesPageArticleTag")}}</label>
                  <input  dir="auto" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="text" class="form-control required" id="hashtag_name" placeholder="{{t("editArticlesPageArticleTag")}}"  value="{{formData['article']['hashtag_name']}}" readonly>
                </div>
              </div>
                <div class=" col-md-6">
                <div class="form-group">
                  <label for="name">{{t("editArticlesPageArticleTitle")}}</label>
                  <input a dir="auto" utocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="" class="form-control required" id="name" placeholder="{{t("editArticlesPageArticleTitle")}}" value="{{formData['article']['title']}}">
                </div>
              </div>

              <div class="col-md-12">
                <div class="form-group" id="editor_desc">
                  <label>{{t("editArticlesPageArticleDescrib")}}</label>
                  <textarea  autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="form-control required" rows="3" id="main_description" placeholder="{{t("editArticlesPageArticleDescrib")}}...">{{formData['article']['description']}}</textarea>
                </div>
              </div>
              <!-- /.box-body -->

            </div>
          </div>
        </div>
        <!-- /.box -->



        {% for a in formData['article']['content'] %}
            <div class="col-md-12" >
               <div class="box">
                   <div class="box-header">
                     <h3 class='box-title'>@AUAI[[T'Z B[ODKL</h3>
                     <div class="pull-right box-tools">
                       <button type="button" class="btn btn-default btn-sm" data-widget="remove" data-toggle="tooltip" title="Remove">
                         <i class="fa fa-times"></i></button>
                     </div>
                   </div>
                   <div class="box-body pad content_box">
                     <div class="form-group ">
                       <label for="exampleInputPassword1">M[LYAX</label>
                       <input  dir="auto" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="" class="content_name form-control required" placeholder="M[LYAX" value="{{a.title}}">
                     </div>
                     <form id="editor_form_{{loop.index-1}}">
                       <textarea class="content_description required" id="editor{{loop.index-1}}"  placeholder="'+"GZ JAJZIA'[Z JZUKL@[ JKL @[Y BALZ JAL[X?"
                                 style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;" >{{a.text|safe}}</textarea>
                     </form>
                   </div>
                 </div>
               </div>
          {% endfor %}






        <div class="col-md-12" id="submit_box">
          <div class="box box-primary">

            <!-- /.box-header -->
            <!-- form start -->
            <form role="form" action="/admin/editor/{{formData['article']['hashtag_name']}}" method="post" enctype="multipart/form-data" id="send_form">

              <input type="text" style="display:none;" name="json" id="send_json">
              <input type="text" style="display:none;" name="metadata" id="cover_metadata_json">
              <input type="file" style="display:none;" name="cover" id="send_cover">

              <div class="box-footer">
                <button type="button" id="add_info" class="btn btn-info">+ {{t("editArticlesPageAddInfoBtn")}}</button>
                <button type="button" id="submit_form" class="btn btn-primary">{{t('editArticlesPageSendBtn')}}</button>
              </div>
            </form>
          </div>
        </div>
        <!-- /.box -->



      </div>
      <!-- ./row -->
    </section>
    <!-- /.content -->
  </div>

  {% endblock content %}


  {% block footer %}
      <script src="https://cdn.ckeditor.com/ckeditor5/17.0.0/classic/ckeditor.js"></script>
      <script src="{{ url_for('admin_app.static', filename='js/update.js') }}"></script>
      <!-- <script src="https://cdn.ckeditor.com/ckeditor5/12.4.0/classic/ckeditor.js"></script> -->
      <!-- Bootstrap WYSIHTML5 -->
      <script>
        $('.select2').select2(
          {
            "language": {
              "noResults": function(searchedTerm) {
                return "{{t('tableNoResults') | safe }}";
              }
            },
            "escapeMarkup": function(markup) {
              return markup;
            }
          }
        )
        $('#RootAr').select2(
          {
            "language": {
              "noResults": function(searchedTerm) {
                return "{{t('tableNoResults') | safe }}";
              }
            },
            placeholder: 'BKLUEM[Y...',
            allowClear: true,   // Shows an X to allow the user to clear the value.
            "escapeMarkup": function(markup) {
              return markup;
            }
          }
        )
      </script>
  {% endblock footer %}
