{% extends 'admin_base.html' %}
{% block title %}Login{% endblock %}

{% block content %}






<div class="modal fade" id="change_dictation_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">JZUKLUEY['Z RAHZ$</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">*</span></button>
      </div>
      <div class="modal-body">

        <div class="form-group col-md-12">
          @A[A X[WAI[J J[TDZ'[Z @[Y RAHZ LA JZUKLUEY'TEY[J?
        </div>

        <div class="col-md-12" >
          <div class="">
              <div class="box-body info pad row">
                <div class="form-group col-md-12">
                  <input id="new_dictation" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
                         type="" class="replace_word form-control required" placeholder="{{t('editWordPageWord')}}"
                         value="{{formData['Word']['word']}}" dir="auto">
                </div>
              </div>
            </div>
          </div>



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">YK</button>
        <button type="button" id="set_new_dictation" class="btn btn-primary">JZUKLUEY'TEY$</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>





<div class="modal fade" id="replaces_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">MEJPJKY$</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">*</span></button>
      </div>
      <div class="modal-body">
        <div class="form-group col-md-12">
          @A[A X[WAI[J @[Y FPNDAL LA BZMEJA[[J?
        </div>
        <div class="form-group col-md-6">
          <div class="form-group">
            <label for="exampleInputPassword1" style="height: 13px;"></label>
            <button type='button' id='' class='btn btn-info add_replace form-control' >+ {{t("editWordPageAddInfoBtn")}}</button>
          </div>
        </div>

        {% for a in formData['Word']['replaces'] %}
          <div class="col-md-12" >
            <div class="">
                <div class="box-header">
                  <label for="exampleInputPassword1">{{t('editWordPageWordMean')}}</label>
                  <div class="pull-right box-tools">
                    <button type="button" class="btn btn-default btn-sm" data-widget="remove" data-toggle="tooltip" title="Remove">
                      <i class="fa fa-times"></i></button>
                  </div>
                </div>
                <div class="box-body info pad row">
                  <div class="form-group col-md-12">
                    <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
                           type="" class="replace_word form-control required" placeholder="{{t('editWordPageWordMean')}}" value="{{a}}">
                  </div>
                </div>
              </div>
            </div>
        {% endfor %}

        <div class="info_table col-md-12"></div>



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">YK</button>
        <button type="button" id="set_replaces" class="btn btn-primary">MEJPJKY</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>







<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper"  autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      {{t('editWordPageTitle')}}
      <!-- <small>LE[Z'[Z QKLXAY</small> -->
    </h1>
    <ol class="breadcrumb">
      <li><a href="/admin"><i class="fa fa-dashboard"></i> {{t('navigationMain')}}</a></li>
      <li class="active">{{t('navigationAddArticle')}}</li>
    </ol>
  </section>




    <!-- Main content -->
    <section class="content">
      <div id="jostar" class="row">
        <div class="col-md-12">


        {% if not formData['post'] and formData['form_errors'] %}

            <div class="alert alert-danger alert-dismissible">
              <h4><i class="icon fa fa-ban"></i>@ZLKYU$</h4>
              JKL @KYJPWDKY'Z FPNDAL @ZLKYU@[ C[O'@AXKJ.
            </div>

        {% else %}


          <div id="alert_section">
            <div id="ajax-alert" class="alert" style="display: none">
                <a class="close" data-hide="alert">*</a>
                <h4><i class="icon fa fa-check"></i>TAX[AB</h4>
                FPNDAL'Z {{formData['artName']}} BA TAX[AB[ @KYJPWDZ'OEJ.
            </div>
          </div>



          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">{{t("editWordPageFirstSection")}}</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <div class="box-body row">


              <div class=" col-md-6">
                <div class="form-group">
                  <label for="hashtag_name">{{t("editWordPageWord")}}</label>
                  <a class="" data-toggle="modal" data-target="#change_dictation_modal">
                      <input  autocomplete="off" autocorrect="off" autocapitalize="off" disabled
                              spellcheck="false" type="text" class="form-control required" id="word"
                              placeholder="{{t('editWordPageWord')}}" value="{{formData['Word']['word']}}" >
                  </a>
                </div>
              </div>



              <div class=" col-md-6">

                <div class="form-group">
                  <label for="hashtag_name">{{t('editWordPageLang')}}</label>
                  <!-- <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="text" class="form-control required" id="hashtag_name" placeholder="BKLGKNB'Z_YAX""> -->
                  <select id='langChooser' class="form-control" style="width: 100%;" disabled>
                    <!-- <option value="CL" selected="selected">YE@[LAY[T</option> -->
                    {% for lang in formData['languages_list'] %}
                      <option value="{{lang.name_id}}" data-unicode="{{lang.unicode}}" {{ 'selected' if lang.name_id==formData['Word']['lang'] }} >{{lang.show if formData['languages_list'][0]['name_id']=='CL' else lang.show}}</option>
                    {% endfor %}
                  </select>
                </div>

              </div>


              {% if userData['level'][0] == 9 %}

                <div id="rootSection" class=" col-md-6" >
                    <div class="form-group">
                        <label for="last_user">{{t('editWordPageLastAuthor')}}</label>
                        <a href="/admin/profile/{{formData['Word']['author_username']}}">
                            <input  autocomplete="off" autocorrect="off" autocapitalize="off" disabled
                                    spellcheck="false" type="text" class="form-control required" id="word"
                                    value="{{formData['Word']['author']}}" >
                        </a>
                    </div>
                </div>

                <div id="rootSection" class=" col-md-6" >
                    <div class="form-group">
                      <label for="last_user">{{t('editWordPageLastVerified')}}</label>
                      <select id='verifiedSelect' class="form-control " style="width: 100%;">
                        <option value="0" >{{t("0")}}</option>
                        <option value="1" {{ 'selected' if formData['Word']['verified'] }} >{{t("1")}}</option>
                      </select>
                    </div>
                </div>
              {% endif %}


              <div class=" col-md-6">
                <div class="form-group">
                  <label for="name">{{t("editWordPagePronounce")}}</label>
                  <input  dir="auto" autocomplete="off" autocorrect="off" autocapitalize="off"
                          spellcheck="false" type="" class="form-control" id="pronounce"
                          placeholder="{{t('editWordPagePronounce')}}"  value="{{formData['Word']['pronounce']}}" >
                </div>
              </div>



              <div id="rootSection2" class=" col-md-6" >
                <div class="form-group">
                  <label for="hashtag_name">{{t("editWordPageRoot")}} </label>
                  <input autocomplete="off" autocorrect="off" autocapitalize="off"
                    spellcheck="false" type="text" class="form-control" id="root_word"
                    placeholder="{{t('editWordPageRoot')}}" value="{{formData['Word']['root_word']}}" >
                  <!-- <select id='RootWr' class="form-control select2" style="width: 100%;">
                    <option selected="selected"></option>

                  </select> -->
                </div>
              </div>


              <div id="replaceSection" class=" col-md-6" >
                <div class="form-group">
                  <label for="hashtag_name">{{t("editWordPageReplace")}} </label>
                    <a class="" data-toggle="modal" data-target="#replaces_modal">
                        <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" disabled
                               value="{{formData['Word']['replaces']|join(', ') }}" data-words={{formData['Word']['replaces']|tojson }}
                               type="text" class="form-control input-clickable" id="replace_words" placeholder="{{t("editWordPageReplacePlaceholder")}}"">
                    </a>
                </div>
              </div>




              <div id="" class="col-md-6" >
                <div class="form-group">
                  <label for="hashtag_name">{{t("editWordPageWordType")}}</label>
                  <!-- <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="text" class="form-control required" id="hashtag_name" placeholder="BKLGKNB'Z_YAX""> -->
                  <select id='wordType' class="form-control select2" style="width: 100%;">
                    <option ></option>
                    <option value="1" {{ 'selected' if "1"==formData['Word']['word_type'][0] }} >{{t("editWordPageWordTypeNoun")}}</option>
                    <option value="2" {{ 'selected' if "2"==formData['Word']['word_type'][0] }} >{{t("editWordPageWordTypeAdjective")}}</option>
                    <option value="3" {{ 'selected' if "3"==formData['Word']['word_type'][0] }} >{{t("editWordPageWordTypeIrony")}}</option>
                    <option value="4" {{ 'selected' if "4"==formData['Word']['word_type'][0] }} >{{t("editWordPageWordTypeNum")}}</option>
                    <option value="5" {{ 'selected' if "5"==formData['Word']['word_type'][0] }} >{{t("editWordPageWordTypeVerb")}}</option>
                    <option value="6" {{ 'selected' if "6"==formData['Word']['word_type'][0] }} >{{t("editWordPageWordTypeAdverb")}}</option>
                    <option value="7" {{ 'selected' if "7"==formData['Word']['word_type'][0] }} >{{t("editWordPageWordTypepreposition")}}</option>
                    <option value="8" {{ 'selected' if "8"==formData['Word']['word_type'][0] }} >{{t("editWordPageWordTypeConjunction")}}</option>
                    <option value="9" {{ 'selected' if "9"==formData['Word']['word_type'][0] }} >{{t("editWordPageWordTypeSounds")}}</option>
                    <option value="@" {{ 'selected' if "@"==formData['Word']['word_type'][0] }} >{{t("editWordPageWordTypePronoun")}}</option>
                    <option value="A" {{ 'selected' if "A"==formData['Word']['word_type'][0] }} >{{t("editWordPageWordTypePrefix")}}</option>
                    <option value="B" {{ 'selected' if "B"==formData['Word']['word_type'][0] }} >{{t("editWordPageWordTypeSuffix")}}</option>
                  </select>
                </div>
              </div>


              <div id="" class="col-md-12 row in_row" >

                            <div id="nounNumber" class="typeOption nounOptions col-md-3 col-sm-6" style="display: {{ 'block' if formData['Word']['word_type'][0] in ['1','2', '6', '@'] else 'none'}}" >
                              <div class="form-group">
                                <label for="">{{t("editWordPageWordNumber")}} </label>
                                <!-- <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="text" class="form-control required" id="hashtag_name" placeholder="BKLGKNB'Z_YAX""> -->
                                <select id='nounNumberSelect' class="form-control select2" style="width: 100%;">
                                  <option ></option>
                                  <option value="1" {{ 'selected' if "1"==formData['Word']['word_type'][1] }} >{{t("editWordPageWordTypeSingular")}}</option>
                                  <option value="2" {{ 'selected' if "2"==formData['Word']['word_type'][1] }} >{{t("editWordPageWordTypeDual")}}</option>
                                  <option value="3" {{ 'selected' if "3"==formData['Word']['word_type'][1] }} >{{t("editWordPageWordTypePlural")}}</option>
                                </select>
                              </div>
                            </div>

                            <div id="nounMoods" class="typeOption nounOptions col-md-3 col-sm-6" style="display: {{ 'block' if formData['Word']['word_type'][0] in ['1','2', '6', '@'] else 'none'}}" >
                              <div class="form-group">
                                <label for="hashtag_name">{{t("editWordPageWordMoods")}} </label>
                                <!-- <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="text" class="form-control required" id="hashtag_name" placeholder="BKLGKNB'Z_YAX""> -->
                                <select id='nounMoodsSelect' class="form-control select2" style="width: 100%;">
                                  <option ></option>
                                  <option value="1" {{ 'selected' if "1"==formData['Word']['word_type'][2] }} >{{t("editWordPageWordNahadi")}}</option>
                                  <option value="2" {{ 'selected' if "2"==formData['Word']['word_type'][2] }} >{{t("editWordPageWordRaei")}}</option>
                                  <option value="3" {{ 'selected' if "3"==formData['Word']['word_type'][2] }} >{{t("editWordPageWordBaei")}}</option>
                                  <option value="4" {{ 'selected' if "4"==formData['Word']['word_type'][2] }} >{{t("editWordPageWordBaraei")}}</option>
                                  <option value="5" {{ 'selected' if "5"==formData['Word']['word_type'][2] }} >{{t("editWordPageWordAzi")}}</option>
                                  <option value="6" {{ 'selected' if "6"==formData['Word']['word_type'][2] }} >{{t("editWordPageWordVabaste")}}</option>
                                  <option value="7" {{ 'selected' if "7"==formData['Word']['word_type'][2] }} >{{t("editWordPageWordDarei")}}</option>
                                  <option value="8" {{ 'selected' if "8"==formData['Word']['word_type'][2] }} >{{t("editWordPageWordFarakhanei")}}</option>
                                </select>
                              </div>
                            </div>

                            <div id="nounSex" class="typeOption nounOptions col-md-3 col-sm-6" style="display: {{ 'block' if formData['Word']['word_type'][0] in ['1','2', '6', '@'] else 'none'}}" >
                              <div class="form-group">
                                <label for="">{{t("editWordPageWordSex")}} </label>
                                <!-- <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="text" class="form-control required" id="hashtag_name" placeholder="BKLGKNB'Z_YAX""> -->
                                <select id='nounSexSelect' class="form-control select2" style="width: 100%;">
                                  <option ></option>
                                  <option value="1" {{ 'selected' if "1"==formData['Word']['word_type'][3] }} >{{t("editWordPageWordMale")}}</option>
                                  <option value="2" {{ 'selected' if "2"==formData['Word']['word_type'][3] }} >{{t("editWordPageWordFemale")}}</option>
                                  <option value="3" {{ 'selected' if "3"==formData['Word']['word_type'][3] }} >{{t("editWordPageWordNeutral")}}</option>
                                </select>
                              </div>
                            </div>



                            <div id="verbNumber" class="typeOption verbOptions col-md-3 col-sm-6" style="display: {{ 'block' if '5'==formData['Word']['word_type'][0] else 'none' }}" >
                              <div class="form-group">
                                <label for="">{{t("editWordPageWordNumber")}} </label>
                                <!-- <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="text" class="form-control required" id="hashtag_name" placeholder="BKLGKNB'Z_YAX""> -->
                                <select id='verbNumberSelect' class="form-control select2" style="width: 100%;">
                                  <option></option>
                                  <option value="1" {{ 'selected' if "1"==formData['Word']['word_type'][1] }} >{{t("editWordPageWordTypeSingular")}}</option>
                                  <option value="2" {{ 'selected' if "2"==formData['Word']['word_type'][1] }} >{{t("editWordPageWordTypeDual")}}</option>
                                  <option value="3" {{ 'selected' if "3"==formData['Word']['word_type'][1] }} >{{t("editWordPageWordTypePlural")}}</option>
                                </select>
                              </div>
                            </div>

                            <div id="verbTranIntran" class="typeOption verbOptions col-md-3 col-sm-6" style="display: {{ 'block' if '5'==formData['Word']['word_type'][0] else 'none' }}" >
                              <div class="form-group">
                                <label for="hashtag_name">{{t("editWordPageWordTranIntran")}} </label>
                                <!-- <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="text" class="form-control required" id="hashtag_name" placeholder="BKLGKNB'Z_YAX""> -->
                                <select id='verbTranIntranSelect' class="form-control select2" style="width: 100%;">
                                  <option ></option>
                                  <option value="1" {{ 'selected' if "1"==formData['Word']['word_type'][2] }} >{{t("editWordPageWordTransitive")}}</option>
                                  <option value="2" {{ 'selected' if "2"==formData['Word']['word_type'][2] }} >{{t("editWordPageWordIntransitive")}}</option>
                                </select>
                              </div>
                            </div>

                            <div id="verbPointView" class="typeOption verbOptions col-md-3 col-sm-6" style="display: {{ 'block' if '5'==formData['Word']['word_type'][0] else 'none' }}" >
                              <div class="form-group">
                                <label for="">{{t("editWordPageWordPointView")}} </label>
                                <!-- <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="text" class="form-control required" id="hashtag_name" placeholder="BKLGKNB'Z_YAX""> -->
                                <select id='verbPointViewSelect' class="form-control select2" style="width: 100%;">
                                  <option ></option>
                                  <option value="1" {{ 'selected' if "1"==formData['Word']['word_type'][3] }}>{{t("editWordPageWordFirstPerson")}}</option>
                                  <option value="2" {{ 'selected' if "2"==formData['Word']['word_type'][3] }}>{{t("editWordPageWordSecondPerson")}}</option>
                                  <option value="3" {{ 'selected' if "3"==formData['Word']['word_type'][3] }}>{{t("editWordPageWordThirdPerson")}}</option>
                                </select>
                              </div>
                            </div>

                            <div id="verbTime" class="typeOption verbOptions col-md-3 col-sm-6" style="display: {{ 'block' if '5'==formData['Word']['word_type'][0] else 'none' }}" >
                              <div class="form-group">
                                <label for="">{{t("editWordPageWordTime")}} </label>
                                <!-- <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="text" class="form-control required" id="hashtag_name" placeholder="BKLGKNB'Z_YAX""> -->
                                <select id='verbTimeSelect' class="form-control select2" style="width: 100%;">
                                  <option ></option>
                                  <option value="1" {{ 'selected' if "1"==formData['Word']['word_type'][4] }} >{{t("editWordPageWordPast")}}</option>
                                  <option value="2" {{ 'selected' if "2"==formData['Word']['word_type'][4] }} >{{t("editWordPageWordPresent")}}</option>
                                  <option value="3" {{ 'selected' if "3"==formData['Word']['word_type'][4] }} >{{t("editWordPageWordFuture")}}</option>
                                </select>
                              </div>
                            </div>

              </div>

              <!-- /.box-body -->
            </div>
          </div>
        </div>
        <!-- /.box -->



                    {% for a in formData['Word']['translations'] %}
                       <div class="col-md-12" >
                              <div class="box box-primary">
                                  <div class="box-header">
                                    <h3 class='box-title'>@AUAI[[T'Z B[ODKL</h3>
                                    <div class="pull-right box-tools">
                                      <button type="button" class="btn btn-default btn-sm" data-widget="remove" data-toggle="tooltip" title="Remove">
                                        <i class="fa fa-times"></i></button>
                                    </div>
                                  </div>

                                  <div class="box-body pad meaning_box row {% for lang in formData['languages_list']%}{{ 'unicodeFonts' if lang.name_id==a.lang and lang.unicode==True }}{% endfor %}">
                                    <div class="box-body info col-md-12">
                                        <div class="col-md-12 row">
                                          <div class="form-group col-md-4">
                                            <label for="exampleInputPassword1">{{t('editWordPageWordDic')}}</label>
                                            <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type=""
                                                  class="author form-control required" placeholder="{{t('editWordPageWordDic')}}" value="{{a.author}}">
                                          </div>
                                          <div id="verbNumber" class="form-group col-md-4" >
                                            <div class="form-group">
                                              <label for="exampleInputPassword1">{{t('editWordPageLang')}}</label>

                                              <select id="" class="form-control trans_lang" style="width: 100%;">
                                                {% for lang in formData['languages_list'] %}
                                                  <option value="{{lang.name_id}}" data-unicode="{{lang.unicode}}" {{ 'selected' if lang.name_id==a.lang }} >{{lang.show if formData['languages_list'][0]['name_id']=='CL' else lang.show}}</option>
                                                {% endfor %}
                                              </select>
                                            </div>
                                          </div>
                                          <div class="form-group col-md-4">
                                            <div class="form-group">
                                              <label for="exampleInputPassword1" style="height: 13px;"></label>
                                              <button type='button' id='' class='btn btn-info add_meaning form-control' >+ {{t("editWordPageAddInfoBtn")}}</button>
                                            </div>
                                          </div>
                                        </div>
                                      </div>

                                    <div class="box-body info col-md-12">
                                      <div class="form-group col-md-12">
                                        <label for="exampleInputPassword1">{{t('editWordPageWordMean')}}</label>
                                        <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type=""
                                               class="translation form-control required" placeholder="{{t('editWordPageWordMean')}}" value="{{a.meanings[0]}}">
                                      </div>
                                    </div>


                                  {% for meaning in a.meanings[1:] %}

                                        <div class="col-md-12" >
                                          <div class="">
                                              <div class="box-header">
                                                <label for="exampleInputPassword1">{{t('editWordPageWordMean')}}</label>
                                                <div class="pull-right box-tools">
                                                  <button type="button" class="btn btn-default btn-sm" data-widget="remove" data-toggle="tooltip" title="Remove">
                                                    <i class="fa fa-times"></i></button>
                                                </div>
                                              </div>
                                              <div class="box-body info pad row">
                                                <div class="form-group col-md-12">
                                                  <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
                                                         type="" class="translation form-control required" placeholder="{{t('editWordPageWordMean')}}" value="{{meaning}}">
                                                </div>
                                              </div>
                                            </div>
                                          </div>

                                    {% endfor %}
                                    <div class="info_table col-md-12"></div>
                                </div>
                              </div>
                             </div>
                        {% endfor %}






        <div class="col-md-12" id="submit_box">
          <div class="box box-primary">
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form" action="/admin/editor" method="post" enctype="multipart/form-data" id="send_form">

              <input type="text" style="display:none;" name="json" id="send_json">
              <input type="text" style="display:none;" name="metadata" id="cover_metadata_json">
              <input type="file" style="display:none;" name="cover" id="send_cover">

              <div class="box-footer">
                <button type="button" id="add_meaning" class="btn btn-info"> {{t("editWordPageAddInfoBtn")}}</button>
                <button type="button" id="submit_form" class="btn btn-primary">{{t('editWordPageSendBtn')}}</button>
              </div>
            </form>
          </div>
        </div>
        <!-- /.box -->

        {% endif %}

      </div>
      <!-- ./row -->
    </section>
    <!-- /.content -->
  </div>

  {% endblock content %}


  {% block footer %}
      <script type="text/javascript">

          var languages_list = {{formData['languages_list'] | tojson}}
          var langLable = "{{t('editWordPageLang')}}"
          var WordDic = "{{t('editWordPageWordDic')}}"
          var addInfoBtn = "{{t('editWordPageAddInfoBtn')}}"
          var wordMean = "{{t('editWordPageWordMean')}}"
      </script>
      <!-- <script src="{{ url_for('admin_app.static', filename='bower_components/ckeditor/5/ckeditor.js') }}"></script> -->
      <script src="https://cdn.ckeditor.com/ckeditor5/17.0.0/classic/ckeditor.js"></script>
      <!-- <script src="{{ url_for('admin_app.static', filename='bower_components/select2/dist/js/select2.full.min.js') }}"></script> -->
      <script src="{{ url_for('admin_app.static', filename='js/editWord.js') }}"></script>
      <!-- Bootstrap WYSIHTML5 -->
      <script>

        $('.select2').select2(
          {
            "language": {
              "noResults": function(searchedTerm) {
                return "{{t('tableNoResults') | safe }}";
              }
            },
            placeholder: 'BKLUEM[Y...',
            allowClear: true,   // Shows an X to allow the user to clear the value.
            "escapeMarkup": function(markup) {
              return markup;
            }
          }
        )

      </script>
  {% endblock footer %}
