{% extends 'admin_base.html' %}
{% block title %}Login{% endblock %}

{% block content %}


        <div class="modal fade" id="choose_cover_modal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">{{t('modalPhotoTitle')}}</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">*</span></button>
              </div>
              <div class="modal-body">
                <div class="form-horizontal">
                  <div class="box-body">

                    <div class="form-group">
                      <label for="inputEmail3" class="col-sm-2 control-label">{{t('modalPhotoName')}}</label>

                      <div class="col-sm-12">
                        <input type="text"autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="form-control required_modal" id="cover_name" placeholder="{{t('modalPhotoNamePlaceholder')}}">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">{{t('modalPhotoLicence')}}</label>

                      <div class="col-sm-12">
                        <input type="text"autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="form-control metadata_input required_modal" id="cover_license" placeholder="{{t('modalPhotoLicencePlaceholder')}}">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">{{t('modalPhotoSource')}}</label>

                      <div class="col-sm-12">
                        <input type="text"autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="form-control metadata_input required_modal" id="cover_source" placeholder="{{t('modalPhotoSourcePlaceholder')}}">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">{{t('modalPhotoAuthor')}}</label>

                      <div class="col-sm-12">
                        <input type="text"autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="form-control required_modal" id="cover_author" placeholder="{{t('modalPhotoAuthorPlaceholder')}}">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label"></label>

                      <div class="col-sm-12">
                        <button type="button" id="loadFileXml" class="btn btn-default col-md-3" onclick="document.getElementById('send_cover').click();">{{t('modalPhotoSelect')}}</button>

                      </div>
                    </div>

                  </div>
                </div>



              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">{{t('modalPhotoCancelBtn')}}</button>
                <button type="button" id="choose_cover" class="btn btn-primary">{{t('modalPhotoSendBtn')}}</button>
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper"  autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      {{t('editCategoriesPageTitle')}}
      <!-- <small>LE[Z'[Z QKLXAY</small> -->
    </h1>
    <ol class="breadcrumb">
      <li><a href="/admin"><i class="fa fa-dashboard"></i> {{t('navigationMain')}}</a></li>
      <li><a href="/admin/categories_list">{{t('navigationCategories')}}</a></li>
      <li class="active">{{t('navigationEditCategory')}}</li>
    </ol>
  </section>




    <!-- Main content -->
    <section class="content">
      <div id="jostar" class="row">
        <div class="col-md-12">


          {% if formData['post']%}
              {% if formData['form_errors']%}
                  <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">*</button>
                    <h4><i class="icon fa fa-ban"></i>@ZLKYU$</h4>
                    JKL @KYJPWDKY'Z FPNDAL @ZLKYU@[ C[O'@AXKJ.
                  </div>
              {% else %}
                  <div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">*</button>
                    <h4><i class="icon fa fa-check"></i>TAX[AB</h4>
                    FPNDAL'Z {{formData['artName']}} BA TAX[AB[ @KYJPWDZ'OEJ.
                  </div>
              {% endif %}
          {% endif %}


          <div id="ajax-alert" class="alert" style="display: none">
              <a class="close" data-hide="alert">*</a>
              <h4><i class="icon fa fa-check"></i>TAX[AB</h4>
              FPNDAL'Z {{formData['artName']}} BA TAX[AB[ @KYJPWDZ'OEJ.
          </div>


          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">{{t('editCategoriesPageFirstSection')}}</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <div class="box-body row">




              <div class=" col-md-6">
                <div class="form-group cover_block">
                  <div class="cover_none_image">
                      <p>{{t('photoNone')}}</p>
                  </div>
                  <img class="cover_image" id="cover_image" src="" alt="">
                  <!-- <button type="button" id="loadFileXml" class="btn btn-default btn_upload_cover col-md-3" onclick="document.getElementById('cover_image_btn').click();">BALU[L[</button> -->
                  <button type="button" id="loadFileXml" class="btn btn-default btn_upload_cover col-md-3" data-toggle="modal" data-target="#choose_cover_modal">BALU[L[</button>
                  <!-- <input type="file" style="display:none;" id="cover_image_btn" name="file"/> -->
                </div>
              </div>

              <div class="col-md-6">

                    {% if userData['level'][0] == 9 %}
                    <div id="lastUserSection" class=" col-md-12" >
                        <div class="form-group">
                          <label for="last_user">{{t('editArticlesPageLastAuthor')}}</label>
                          <a href="/admin/profile/{{formData['category']['author_username']}}" id="last_user">
                              <input  autocomplete="off" autocorrect="off" autocapitalize="off" disabled
                                      spellcheck="false" type="text" class="form-control required" id="word"
                                      value="{{formData['category']['author']}}" >
                          </a>
                        </div>
                    </div>
                    {% endif %}

                    <div id="rootSection" class=" col-md-12"  style="display: {{'none' if formData['category']['lang']=='CL' else 'block'}};">
                      <div class="form-group">
                        <label for="hashtag_name">{{t('editCategoriesPageRoot')}}</label>
                        <!-- <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="text" class="form-control required" id="hashtag_name" placeholder="BKLGKNB'Z_YAX""> -->
                        <select id='RootAr' class="form-control select2" style="width: 100%;">
                          <option selected="selected"></option>
                          {% for cate in formData['categories_list'] %}
                              <option value={{cate.hashtag_name}} data-cover="{{cate.cover_url}}"  {{'selected' if formData['category']['root_name']== cate.hashtag_name }}>{{cate.title}}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>

                    <div class=" col-md-12">
                      <div class="form-group">
                        <label for="hashtag_name">{{t('editCategoriesPageTag')}}</label>
                        <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" readonly
                               type="text" class="form-control required" id="hashtag_name" placeholder="{{t('editCategoriesPageTagPlaceholder')}}" value="{{formData['category']['hashtag_name']}}">
                      </div>
                    </div>
                    <div class=" col-md-12">
                      <div class="form-group">
                        <label for="name">{{t('editCategoriesPageName')}}</label>
                        <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
                               type="" class="form-control required" id="main_title" placeholder="{{t('editCategoriesPageNamePlaceholder')}}" value="{{formData['category']['title']}}">
                      </div>
                    </div>


                    <div class="col-md-12">
                      <div class="form-group" id="editor_desc">
                        <label>{{t('editCategoriesPageDescrib')}}</label>
                        <textarea  autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
                                   class="form-control required" rows="3" id="description" placeholder="{{t('editCategoriesPageDescribPlaceholder')}}...">{{formData['category']['description']}}</textarea>
                      </div>
                    </div>

              </div>




              <!-- /.box-body -->

            </div>
          </div>
        </div>
        <!-- /.box -->



                {% for a in formData['category']['topics'] %}
                    <div class="col-md-12" >
                    <div class="box box-primary">
                        <div class="box-header">
                          <h3 class='box-title'>@AUAI[[T'Z B[ODKL</h3>
                          <div class="box-tools">
                            <button type="button" class="btn btn-default btn-sm" data-widget="remove" data-toggle="tooltip" title="Remove">
                              <i class="fa fa-times"></i></button>
                          </div>
                        </div>
                        <div class="box-body pad content_box row">
                          <div class="form-group col-md-4">
                            <!-- <label for="exampleInputPassword1">TZV[J</label> -->
                            <input value="{{a.title}}" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="" class="title form-control required" placeholder="TZV[J">
                          </div>
                          <div class="form-group col-md-4">
                            <button type='button' id='' class='btn btn-info btn-add-info add_info' >+ @KQMPJKY'Z @AUAI[[T'Z B[ODKL</button>
                          </div>

                          <div class="col-md-12" >
                              <div class="">
                                <div class="box-body info col-md-12 row">
                                  <div class="form-group col-md-4">
                                    <label for="exampleInputPassword1">TZV[J</label>
                                    <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type=""
                                           class="key form-control required" placeholder="TZV[J" value="{{a.info_table[0].key}}">
                                  </div>
                                  <div class="form-group col-md-4">
                                    <label for="exampleInputPassword1">XA[Z</label>
                                    <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type=""
                                           class="value form-control required" placeholder="XA[Z" value="{{a.info_table[0].value}}">
                                  </div>
                                  <div class="form-group col-md-4">
                                    <label for="exampleInputPassword1">CZ[RKYJ</label>
                                    <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type=""
                                           class="link form-control" placeholder="CZ[RKYJ BZ FPNDAL" value="{{a.info_table[0].link}}">
                                  </div>
                                </div>
                              </div>
                            </div>


                            {% for info in a.info_table[1:] %}

                                <div class="col-md-12" >
                                    <div class="">
                                        <div class="box-header">
                                          <h3 class='box-title'>@AUAI[[T'Z B[ODKL</h3>
                                          <div class="box-tools">
                                            <button type="button" class="btn btn-default btn-sm" data-widget="remove" data-toggle="tooltip" title="Remove">
                                              <i class="fa fa-times"></i></button>
                                          </div>
                                        </div>
                                        <div class="box-body info pad row">
                                          <div class="form-group col-md-4">
                                            <label for="exampleInputPassword1">TZV[J</label>
                                            <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
                                                   type="" class="key form-control required" placeholder="TZV[J" value="{{info.key}}">
                                          </div>
                                          <div class="form-group col-md-4">
                                            <label for="exampleInputPassword1">XA[Z</label>
                                            <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
                                                   type="" class="value form-control required" placeholder="XA[Z" value="{{info.value}}">
                                          </div>
                                          <div class="form-group col-md-4">
                                            <label for="exampleInputPassword1">CZ[RKYJ</label>
                                            <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
                                                   type="" class="link form-control" placeholder="CZ[RKYJ BZ FPNDAL" value="{{info.link}}">
                                          </div>
                                        </div>
                                      </div>
                                    </div>

                              {% endfor %}
                              <div class="info_table col-md-12"></div>
                          </div>
                        </div>
                       </div>
                  {% endfor %}




        <div class="col-md-12" id="submit_box">
          <div class="box box-primary">
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form" action="/admin/add_category" method="post" enctype="multipart/form-data" id="send_form">

              <input type="text" style="display:none;" name="json" id="send_json">
              <input type="text" style="display:none;" name="metadata" id="cover_metadata_json">
              <input type="file" style="display:none;" name="cover" id="send_cover">

              <div class="box-footer">
                <button type="button" id="add_topic" class="btn btn-info">+ {{t('editCategoriesPageAddInfoBtn')}}</button>
                <button type="button" id="submit_form" class="btn btn-primary">{{t('editCategoriesPageSendBtn')}}</button>
              </div>
            </form>
          </div>
        </div>
        <!-- /.box -->



      </div>
      <!-- ./row -->
    </section>
    <!-- /.content -->
  </div>

  {% endblock content %}


  {% block footer %}
      <!-- <script src="{{ url_for('admin_app.static', filename='bower_components/ckeditor/5/ckeditor.js') }}"></script> -->
      <script src="https://cdn.ckeditor.com/ckeditor5/17.0.0/classic/ckeditor.js"></script>
      <!-- <script src="{{ url_for('admin_app.static', filename='bower_components/select2/dist/js/select2.full.min.js') }}"></script> -->
      <script src="{{ url_for('admin_app.static', filename='js/editCate.js') }}"></script>
      <!-- Bootstrap WYSIHTML5 -->
      <script>






      </script>
  {% endblock footer %}
