{% extends 'admin_base.html' %}
{% block title %}Login{% endblock %}

{% block content %}

<div class="modal fade" id="delete_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">MEJPJKY$</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">*</span></button>
      </div>
      <div class="modal-body">

        <form role="form" action="/admin/language_list" method="post" enctype="application/json" id="delete_form">

            <input type="text" style="display:none;" name="article_hashtag" id="delete_id" value="">
            <input type="text" style="display:none;" name="type" value="delete">

            <!-- <button type="button" id="submit_form" class="btn btn-block btn-danger">MEJPJKY</button> -->
        </form>


        <div class="form-horizontal">
          <div class="box-body">
            @A[A X[WAI[J @[Y FPNDAL LA BZMEJA[[J?
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">YK</button>
        <button type="button" id="delete_lang" class="btn btn-danger">MEJPJKY</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->




<div class="modal fade" id="edit_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">MEJPJKY$</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">*</span></button>
      </div>
      <div class="modal-body">

        <form role="form" action="/admin/language_list" method="post" enctype="application/json" id="update_form">

          <div class=" col-md-12">
            <div class="form-group">
              <label for="update_name_id">TZV[J</label>
              <input disabled autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="text" class="form-control id_input required" id="update_name_id" placeholder="BKLGKNB'Z_YAX"  value="">
            </div>
          </div>
          <div class=" col-md-12">
            <div class="form-group">
              <label for="update_name">YAX</label>
              <input name="name" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="text" class="form-control required" id="update_name" placeholder="BKLYAX" value="">
            </div>
          </div>
          <div class=" col-md-12">
            <div class="form-group">
              <label for="update_show">YAX'Z YKXA[ZO</label>
              <input name="show" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="text" class="form-control required" id="update_show" placeholder="YAX'Z YKXA[ZO" value="">
            </div>
          </div>
          <div class=" col-md-12">
            <div class="form-group">
              <label for="update_is_rtl">FKIKD</label>
              <div class="">
                <label class="form-check-label" for="">@A[A LAND BZ GKC @KND?</label>
                <input name="rtl"  type="checkbox" id="update_is_rtl"  value="true">
              </div>
            </div>
          </div>
          <div class=" col-md-12">
            <div class="form-group">
              <label for="update_is_unicode">TKR[M</label>
              <div class="">
                <label class="form-check-label" for="">@A[A @KM [PY[TEJ BKILZ'X[BKLKJ?</label>
                <input name="unicode"  type="checkbox" id="update_is_unicode"  value="true">
              </div>
            </div>
          </div>
          <input type="text" style="display:none;" name="type" value="edit">
          <input name="name_id" id="update_name_id_2" style="display:none;" >

            <!-- <button type="button" id="submit_form" class="btn btn-block btn-danger">MEJPJKY</button> -->
        </form>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">YK</button>
        <button type="button" id="update_lang" class="btn btn-info">BZLPMLZNAY[</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->







<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      FPNDALIA
      <small>[AQDKY @EJ R[LA[ZO</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="/social/admin"><i class="fa fa-dashboard"></i> WAYZ</a></li>
      <li class="active">FPNDALIA</li>
      <!-- <li class="active">Data tables</li> -->
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="row">

      <div class="col-lg-12">
        <div class="box">
          <div class="box-body row">

              <div class="col-lg-12">
                <div class="row">
                  <div class=" col-md-3">
                    <div class="form-group">
                      <label for="name_id">TZV[J</label>
                      <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="text" class="form-control id_input required" id="name_id" placeholder="BKLGKNB'Z_YAX"  value="">
                    </div>
                  </div>
                  <div class=" col-md-3">
                    <div class="form-group">
                      <label for="name">YAX</label>
                      <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="text" class="form-control required" id="name" placeholder="BKLYAX" value="">
                    </div>
                  </div>
                  <div class=" col-md-3">
                    <div class="form-group">
                      <label for="name">YAX</label>
                      <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="text" class="form-control required" id="show" placeholder="YAX'Z YKXA[ZO" value="">
                    </div>
                  </div>
                  <div class=" col-md-3">
                    <div class="form-group">
                      <label for="is_rtl">FKIKD</label>
                      <div class="">
                        <label class="form-check-label" for="">@A[A LAND BZ GKC @KND?</label>
                        <input  type="checkbox" id="is_rtl"  value="True">
                      </div>
                    </div>
                  </div>
                  <div class=" col-md-3">
                    <div class="form-group">
                      <label for="is_unicode">TKR[M</label>
                      <div class="">
                        <label class="form-check-label" for="">@A[A @KM [PY[TEJ BKILZ'X[BKLKJ?</label>
                        <input  type="checkbox" id="is_unicode"  value="True">
                      </div>
                    </div>
                  </div>


                </div>
                <div class="row form-horizontal">
                  <form role="form" action="/admin/language_list" method="post" enctype="application/json" id="send_form">
                    <input type="text" style="display:none;" name="name_id" id="send_name_id">
                    <input type="text" style="display:none;" name="name" id="send_name">
                    <input type="text" style="display:none;" name="show" id="send_show">
                    <input type="text" style="display:none;" name="rtl" id="send_rtl">
                    <input type="text" style="display:none;" name="unicode" id="send_unicode">
                    <input type="text" style="display:none;" name="type" value="add">

                  </form>

                  <div class="col-md-3">
                      <button type="button" id="addLang" class="btn btn-block btn-info">@KQMPJKY</button>
                  </div>
                </div>
              </div>
          </div>
        </div>

      </div>


      <div class="col-lg-12">

        <div class="box">
          <!-- <div class="box-header">
            <h3 class="box-title">Data Table With Full Features</h3>
          </div> -->
          <!-- /.box-header -->
          <div class="box-body">
            <table id="example1" class="table table-bordered table-striped" width="100%">
              <thead>
              <tr>
                <th></th>
                <th>OZYAMZ</th>
                <th>YAX</th>
                <th>YAX'Z YKXA[ZO</th>
                <th>L.B.G</th>
                <th>TEYPYZ</th>
                <th>FPNDALIA</th>
                <th>RAHZIA</th>
                <th>TALBKLAY</th>
                <th>TEYZO</th>
              </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>CL</td>
                  <td>YE@[LAY[T</td>
                  <td>CALN[T</td>
                  <td>YK</td>
                  <td>J@</td>
                  <td >{{formData['CLdata']['articles']}}</td>
                  <td>{{formData['CLdata']['words']}}</td>
                  <td>{{formData['CLdata']['users']}}</td>
                  <td></td>
                </tr>
              {% for a in languages_list %}
                  <tr>
                    <td>
                        {{ loop.index + 1 }}
                    </td>
                    <td>{{a.name_id}}</td>
                    <td>{{a.name}}</td>
                    <td>{{a.show}}</td>
                    <td>
                      {% if  a.rtl %}
                        <div class="">@AL[</div>
                      {% else %}
                        <div class="">YK</div>
                      {% endif %}
                    </td>
                    <td>
                      {% if  a.unicode %}
                        <div class="">[PY[TEJ</div>
                      {% else %}
                        <div class="">J@</div>
                      {% endif %}
                    </td>
                    <td >{{a.articles}}</td>
                    <td >{{a.words}}</td>
                    <td >{{a.users}}</td>
                    <td>
                        <input type="text" style="display:none;" class="langData" value='{{a|tojson}}'>
                        <a class="btn btn-info update_btn"><i class="fa fa-pencil"></i></a>
                        <a class="btn btn-danger delete_btn"><i class="fa fa-times"></i></a>
                    </td>
                  </tr>
              {% endfor %}

              </tbody>
              <tfoot>
              <tr>
                <th></th>
                <th>OZYAMZ</th>
                <th>YAX</th>
                <th>YAX'Z YKXA[ZO</th>
                <th>L.B.G</th>
                <th>TEYPYZ</th>
                <th>FPNDALIA</th>
                <th>RAHZIA</th>
                <th>TALBKLAY</th>
                <th>TEYZO</th>
              </tr>
              </tfoot>
            </table>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

  {% endblock content %}


  {% block footer %}
  <script src="{{ url_for('admin_app.static', filename='js/langsList.js') }}"></script>
  <!-- <script src="https://cdn.ckeditor.com/ckeditor5/12.4.0/classic/ckeditor.js"></script> -->
  <!-- Bootstrap WYSIHTML5 -->
  <!-- jQuery 3 -->
  <!-- Bootstrap 3.3.7 -->
  <!-- DataTables -->
  <!-- <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script> -->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.21/datatables.min.css"/>
  <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.21/datatables.min.js"></script>
  <!-- SlimScroll -->

  <!-- AdminLTE App -->
  <!-- <script src="{{ url_for('admin_app.static', filename='js/adminlte.min.js') }}"></script> -->
      <!-- page script -->
      <script>
        $(function () {
          // $('#example1').DataTable()
          $('#example1').DataTable({
            "oLanguage": {
              "sInfo": "YZXA[ZO'Z  _START_ DA _END_ @KM _TOTAL_ FPNDAL",
              "sSearch": "FP[ZO:",
              "sZeroRecords": "G[M@[ [AQD'YKOEJ",
              "sInfoEmpty": "DKI[T",
              "sLengthMenu": "OEXEL _MENU_",
              "oPaginate": {
                "sNext": "CKN[Y",
                "sPrevious": "C[O[Y",

              }
            },
            "scrollX": true,
            "bSort" : false
            // 'paging'      : true,
            // 'lengthChange': true,
            // 'searching'   : false,
            // 'ordering'    : true,
            // 'info'        : true,
            // 'autoWidth'   : false
          })
        })
      </script>
  {% endblock footer %}
