<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Admin Videsta | Log in</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.7 -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Theme style -->
  <!-- <link rel="stylesheet" href="{{ url_for('admin_app.static', filename='css/AdminLTE.css') }}"> -->
  <link rel="stylesheet" href="{{ url_for('admin_app.static', filename='css/style.css') }}">
  <!-- iCheck -->
  <link rel="stylesheet" href="{{ url_for('admin_app.static', filename='css/skins/_all-skins.css') }}">
  <link rel="stylesheet" href="{{ url_for('admin_app.static', filename='css/skins/skin-black-light.css') }}">



  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>

      {% block content %}{% endblock %}



      <script src="https://code.jquery.com/jquery-3.4.1.min.js" ></script>
      <!-- jQuery UI 1.11.4 -->
      <!-- <script src="{{ url_for('admin_app.static', filename='bower_components/jquery-ui/jquery-ui.min.js') }}"></script> -->
      <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
      <script>
        $.widget.bridge('uibutton', $.ui.button);
      </script>
      <!-- Bootstrap 3.3.7 -->
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
      <script>
        $(function () {
          $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' /* optional */
          });
        });
      </script>

  </body>
</html>
