{% extends 'admin_base.html' %}
{% block title %}Login{% endblock %}

{% block content %}


{% if userData['level'][0] > 1 %}
<div class="modal fade" id="delete_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">MEJPJKY$</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">*</span></button>
      </div>
      <div class="modal-body">

        <form role="form" action="/admin/article_list" method="post" enctype="application/json" id="delete_form">

            <input type="text" style="display:none;" name="article_hashtag" id="delete_hashtag_name" value="" data-row=''>

            <!-- <button type="button" id="submit_form" class="btn btn-block btn-danger">MEJPJKY</button> -->
        </form>


        <div class="form-horizontal">
          <div class="box-body">
            @A[A X[WAI[J @[Y FPNDAL LA BZMEJA[[J?
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">YK</button>
        <button type="button" id="delete_article" class="btn btn-danger">MEJPJKY</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
{% endif %}



        <div class="modal fade" id="reset_pass_modal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">{{t('modalChangePassTitle')}}</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">*</span></button>
              </div>
              <div class="modal-body">
                <div class="form-horizontal">
                  <div class="box-body">

                    <div class="form-group">
                      <label for="inputEmail3" class="col-sm-12 control-label">{{t('addUserPagePass')}}</label>

                      <div class="col-sm-12">
                        <input autocomplete="off" autocorrect="off" autocapitalize="off"
                               spellcheck="false" type="password" class="form-control pass_required" id="pass" placeholder="{{t('addUserPagePassPlaceholder')}}" value="">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-12 control-label">{{t('addUserPageReePass')}}</label>

                      <div class="col-sm-12">
                        <input autocomplete="off" autocorrect="off" autocapitalize="off"
                               spellcheck="false" type="password" class="form-control pass_required" id="repass" placeholder="{{t('addUserPageReePassPlaceholder')}}" value="">
                      </div>
                    </div>
                  </div>
                </div>



              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">{{t('modalChangePassCancelBtn')}}</button>
                <button type="button" id="set_pass_btn" class="btn btn-primary">{{t('modalChangePassSendBtn')}}</button>
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->




<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper"  autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          {{t('profilePageTitle')}}
        </h1>
        <ol class="breadcrumb">
          <li><a href="/admin"><i class="fa fa-dashboard"></i> {{t('navigationMain')}}</a></li>
          <li><a href="/admin/profile_list">CZILZND'Z YKXA[ZIA</a></li>
          <li class="active">YKXA[Z</li>
          <!-- <li class="active">Data tables</li> -->
        </ol>
      </section>

      <!-- Main content -->
      <section class="content">
        <div id="jostar" class="row">
          <div class="col-md-12">


            {% if formData['post']%}
                {% if formData['form_errors']%}
                    <div class="alert alert-danger alert-dismissible">
                      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">*</button>
                      <h4><i class="icon fa fa-ban"></i>@ZLKYU$</h4>
                      JKL @KYJPWDKY'Z FPNDAL @ZLKYU@[ C[O'@AXKJ.
                    </div>
                {% else %}
                    <div class="alert alert-success alert-dismissible">
                      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">*</button>
                      <h4><i class="icon fa fa-check"></i>TAX[AB</h4>
                      FPNDAL'Z {{formData['artName']}} BA TAX[AB[ @KYJPWDZ'OEJ.
                    </div>
                {% endif %}
            {% endif %}


            <div  class="alert  alert-dismissible" style="display: none;" >
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">*</button>
              <h4><i class="icon fa fa-check"></i>TAX[AB</h4>
              FPNDAL'Z {{formData['artName']}} BA TAX[AB[ @KYJPWDZ'OEJ.
            </div>

            <div id="ajax-alert" class="alert" style="display: none">
                <a class="close" data-hide="alert">*</a>
                <h4><i class="icon fa fa-check"></i>TAX[AB</h4>
                FPNDAL'Z {{formData['artName']}} BA TAX[AB[ @KYJPWDZ'OEJ.
            </div>

            <!-- <div class="box box-primary"> -->
            <form role="form" class="box box-primary" action="/admin/add_user" method="post" enctype="application/json" id="add_user_form">
              <div class="box-header with-border">
                <h3 class="box-title">{{t("editUserFirstSection")}}</h3>
              </div>
              <!-- /.box-header -->
              <!-- form start -->
              <div class="box-body row">


                <div class=" col-md-6">
                  <div class="form-group">
                    <label class="font-weight-bold" for="first_name">{{t('addUserPageFirstName')}}</label>
                    <!-- <label class="form-control-plaintext" for="user_name">{{formData['user_data']['first_name']}}</label> -->
                    <input autocomplete="off" autocorrect="off" autocapitalize="off" name="first_name" disabled
                            onkeyup="this.value = this.value.toUpperCase();"  spellcheck="false" type="text"
                            class="form-control required userdata" id="first_name" placeholder="YAX"
                            data-default="{{formData['user_data']['first_name']}}" value="{{formData['user_data']['first_name']}}" >
                  </div>
                </div>
                <div class=" col-md-6">
                  <div class="form-group">
                    <label class="font-weight-bold" for="last_name">{{t('addUserPageLastName')}}</label>
                    <!-- <label class="form-control-plaintext" for="user_name">{{formData['user_data']['last_name']}}</label> -->
                    <input autocomplete="off" autocorrect="off" autocapitalize="off" name="last_name" disabled
                           onkeyup="this.value = this.value.toUpperCase();" spellcheck="false" type=""
                           class="form-control required userdata" id="last_name" placeholder="YAX'Z WAYZRAJZU[T"
                           data-default="{{formData['user_data']['last_name']}}" value="{{formData['user_data']['last_name']}}" >
                  </div>
                </div>

                <div class=" col-md-6">
                  <div class="form-group">
                    <label class="font-weight-bold" for="user_name">{{t('addUserPageUserName')}}</label>
                    <!-- <label class="form-control-plaintext" for="user_name">{{formData['user_data']['username']}}</label> -->
                    <input autocomplete="off" autocorrect="off" autocapitalize="off" name="user_name" disabled
                           onkeyup="this.value = this.value.toUpperCase();" spellcheck="false" type="text"
                           class="form-control required userdata" id="user_name" placeholder="YAX'Z TALBKL[T"
                           data-default="{{formData['user_data']['username']}}" value="{{formData['user_data']['username']}}" >
                  </div>
                </div>
                <div class=" col-md-6">
                  <div class="form-group">
                    <label class="font-weight-bold" for="name">{{t('addUserPageUserLang')}}</label>
                    <!-- <label class="form-control-plaintext" for="user_name">**********</label> -->
                    <select data-default="{{formData['user_data']['language']}}" id='UILang' name='lang' class="form-control select2" style="width: 100%;">
                        <!-- <option value="CL" {{ 'selected' if 'CL'==formData['user_data']['language'] }}>YE@[LAY[T</option> -->
                        {% for lang in formData['languages_list'] %}
                          <option value="{{lang.name_id}}" {{ 'selected' if lang.name_id==formData['user_data']['language'] }}>{{lang.show}}</option>
                        {% endfor %}
                    </select>
                  </div>
                </div>


                {% if formData['user_data']['level'][2]!= 9  %}


                {% if userData['level'][0]== 9  %}
                <div class=" col-md-6" >
                  <div class=" row" >
                      <div class=" col-md-6">
                        <div class="form-group">
                          <label class="font-weight-bold" for="hashtag_name">{{t('addUserPageJLevel')}}</label>
                          <!-- <label class="form-control-plaintext" for="user_name">**********</label> -->
                          <select data-default="{{formData['user_data']['level'][0]}}" id='JLevel' name='JLevel' class="form-control select2" style="width: 100%;">
                            <option value="0" {{ 'selected' if 1==formData['user_data']['level'][0] }}>{{t('userZeroLevel')}}</option>
                            <option value="1" {{ 'selected' if 1==formData['user_data']['level'][0] }}>{{t('userFirstLevel')}}</option>
                            <option value="2" {{ 'selected' if 2==formData['user_data']['level'][0] }}>{{t('userSecondLevel')}}</option>
                            <option value="3" {{ 'selected' if 3==formData['user_data']['level'][0] }}>{{t('userThirdLevel')}}</option>
                            <option value="9" {{ 'selected' if 9==formData['user_data']['level'][0] }}>{{t('userNinthLevel')}}</option>
                          </select>
                        </div>
                      </div>
                      <div class=" col-md-6">
                        <div class="form-group">
                          <label class="font-weight-bold" for="name">{{t('addUserPageJAllowedLang')}} </label>
                          <!-- <label class="form-control-plaintext" for="user_name">**********</label> -->
                          <select data-default='{{formData["user_data"]["articles_langs"]|tojson}}' id='articles_allowed_lang' name='articles_allowed_lang[]' class="form-control select2" style="width: 100%;"  multiple="multiple">
                              <!-- <option value="CL" {{ 'selected' if 'CL' in formData['user_data']['articles_langs'] }}>YE@[LAY[T</option> -->
                              {% for lang in formData['languages_list'] %}
                                <option value="{{lang.name_id}}" {{ 'selected' if lang.name_id in formData['user_data']['articles_langs'] }}>{{lang.name}}</option>
                              {% endfor %}
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  {% endif %}
                  {% if userData['level'][1]== 9  %}
                  <div class=" col-md-6" >
                    <div class="row" >
                        <div class=" col-md-6">
                          <div class="form-group">
                            <label class="font-weight-bold" for="hashtag_name">{{t('addUserPageVLevel')}}</label>
                            <!-- <label class="form-control-plaintext" for="user_name">**********</label> -->
                            <select data-default="{{formData['user_data']['level'][1]}}" id='WLevel' name='WLevel' class="form-control select2" style="width: 100%;">
                                <option value="0" {{ 'selected' if 1==formData['user_data']['level'][1] }}>{{t('userZeroLevel')}}</option>
                                <option value="1" {{ 'selected' if 1==formData['user_data']['level'][1] }}>{{t('userFirstLevel')}}</option>
                                <option value="2" {{ 'selected' if 2==formData['user_data']['level'][1] }}>{{t('userSecondLevel')}}</option>
                                <option value="3" {{ 'selected' if 3==formData['user_data']['level'][1] }}>{{t('userThirdLevel')}}</option>
                                <option value="9" {{ 'selected' if 9==formData['user_data']['level'][1] }}>{{t('userNinthLevel')}}</option>
                            </select>
                          </div>
                        </div>
                        <div class=" col-md-6">
                          <div class="form-group">
                            <label class="font-weight-bold" for="name">{{t('addUserPageWAllowedLang')}}</label>
                            <!-- <label class="form-control-plaintext" for="user_name">**********</label> -->
                            <select data-default='{{formData["user_data"]["words_langs"]|tojson}}' id='words_allowed_lang' name='words_allowed_lang[]' class="form-control select2" style="width: 100%;"  multiple="multiple">
                                <!-- <option value="CL" {{ 'selected' if 'CL' in formData['user_data']['words_langs'] }}>YE@[LAY[T</option> -->
                                {% for lang in formData['languages_list'] %}
                                  <option value="{{lang.name_id}}" {{ 'selected' if lang.name_id in formData['user_data']['words_langs'] }}>{{lang.name}}</option>
                                {% endfor %}
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                    {% endif %}
                <!-- /.box-body -->
                {% endif %}
              </div>




              <div class="box-footer">
                  <div class="row">
                    <div class="col-md-6" id="primary-btns">
                      <button type="button" id="edit_user" class="btn btn-primary">{{t('editUserEditBtn')}}</button>
                      <button type="button" id="pass_modal" class="btn btn-default">{{t('editUserChangePassBtn')}}</button>
                    </div>

                    <div class="col-md-6" id="edit-btns" style="display:none;">
                      <button type="button" id="cancel" class="btn btn-danger">{{t('editUserCancellBtn')}}</button>
                      <button type="button" id="submit_edit" class="btn btn-success">{{t('editUserSendBtn')}}</button>
                    </div>

                  </div>
              </div>


            </form>
          </div>
          <!-- /.box -->
          <div class="col-md-12">
            {% if article_list and words_list  %}
            <div class="nav-tabs-custom">
              <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                  <a class="nav-item nav-link active" id="nav-articles-tab" data-toggle="tab" href="#nav-articles" role="tab" aria-controls="nav-articles" aria-selected="true">FPNDALIA</a>
                  <a class="nav-item nav-link" id="nav-vaje-tab" data-toggle="tab" href="#nav-vaje" role="tab" aria-controls="nav-vaje" aria-selected="false">RAHZIA</a>
                </div>
              </nav>
              <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-articles" role="tabpanel" aria-labelledby="nav-articles-tab">
            {% else %}
            <div class="box">
              <div class="box-body">
            {% endif %}

                  {% if article_list %}
                  <table id="TArticle" class="table table-bordered table-striped" width="100%">
                    <thead>
                    <tr>
                      <th></th>
                      <th>{{t('tableTitle')}}</th>
                      <th>{{t('tableLang')}}</th>
                      <th>{{t('tableTag')}}</th>
                      <th>{{t('tableDescription')}}</th>
                      <th>{{t('tablePhoto')}}</th>
                      <th>{{t('tableAction')}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for a in article_list %}
                        <tr>
                          <td>{{ loop.index }}</td>
                          <td>{{a.title}}</td>
                          <td>{{a.lang}}</td>
                          <td>{{a.hashtag_name}}</td>
                          <td dir="auto" class="describTD">{{a.description|safe}}</td>
                          <td>
                            {% if  a.cover_url %}
                            <img class="table_image" id="" src="{{ '/media/'+a.cover_url if a.cover_url else '' }}" alt="">
                            {% else %}
                              <div class="table_none_image"><p>B[QKLDPL</p></div>
                            {% endif %}
                          </td>
                          <td>
                              <div class="">
                                <a href="/admin/editor/{{ a.hashtag_name}}" class="btn btn-block btn-info">{{t('tableEditBtn')}}</a>
                                <!-- <button type="button" class="btn btn-block btn-danger delete_btn">MEJPJKY</button> -->
                                <div class="btn-block delete_div">

                                    <input type="text" style="display:none;" class="hashtagName" value="{{ a.hashtag_name}}">
                                    <!-- <input type="text" style="display:none;" name="type" id="type" value="delete"> -->
                                    {% if userData['level'][0] > 1 %}
                                    <button type="button" class="btn btn-block btn-danger delete_btn">{{t('tableDeleteBtn')}}</button>
                                    {% endif %}
                                    <!-- <button type="button" id="submit_form" class="btn btn-block btn-danger">MEJPJKY</button> -->
                                </div>
                                <!-- <button type="button" class="btn btn-block btn-danger delete_btn" data-toggle="modal" data-target="#delete_modal">MEJPJKY</button> -->

                              </div>
                          </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                    <tfoot>
                    <tr>
                      <th></th>
                      <th>{{t('tableTitle')}}</th>
                      <th>{{t('tableLang')}}</th>
                      <th>{{t('tableTag')}}</th>
                      <th>{{t('tableDescription')}}</th>
                      <th>{{t('tablePhoto')}}</th>
                      <th>{{t('tableAction')}}</th>
                    </tr>
                    </tfoot>
                  </table>
                  {% endif %}
                {% if article_list and words_list  %}
                </div>


                <div class="tab-pane fade" id="nav-vaje" role="tabpanel" aria-labelledby="nav-vaje-tab">
                {% endif %}
                  {% if words_list  %}
                  <table id="TVaje" class="table table-bordered table-striped" width="100%">
                    <thead>
                    <tr>
                      <th></th>
                      <th>{{t('tableWord')}}</th>
                      <th>{{t('tableLang')}}</th>
                      <th>{{t('tableRoot')}}</th>
                      <th>{{t('tableTrNum')}}</th>
                      <th>{{t('tableVerified')}}</th>
                      <th>{{t('tableAction')}}</th>
                    </tr>
                    </thead>
                    <tbody>
                      {% for a in words_list %}
                          <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{a.word}}</td>
                            <td>{% for x in formData['languages_list'] %}{% if x.name_id == a.lang %}{{x.show}}{% endif %}{% endfor %}</td>
                            <td>{{a.root_word}}</td>
                            <td dir="auto" class="describTD">{{a.translations|length}}</td>
                            <td>{{('<i class="icon fa fa-check">'|safe) if a.verified else ('<i class="icon fa fa-close">'|safe)}}</td>
                            <td>
                              <input type="text" style="display:none;" class="wordData" value='{"word": "{{a.word}}", "lang": "{{a.lang}}" }'>
                              <a class="btn btn-info update_btn" href="/admin/word/{{a.word}}"><i class="fa fa-pencil"></i></a>
                              <a class="btn btn-danger delete_btn"><i class="fa fa-times"></i></a>
                            </td>
                          </tr>
                      {% endfor %}

                    </tbody>
                    <tfoot>
                    <tr>
                      <th></th>
                      <th>{{t('tableWord')}}</th>
                      <th>{{t('tableLang')}}</th>
                      <th>{{t('tableRoot')}}</th>
                      <th>{{t('tableTrNum')}}</th>
                      <th>{{t('tableVerified')}}</th>
                      <th>{{t('tableAction')}}</th>
                    </tr>
                    </tfoot>
                  </table>
                  {% endif %}
            {% if article_list and words_list  %}
                </div>
              </div>
            </div>
            {% else %}
                </div>
              </div>
            </div>
            {% endif %}
          </div>






          <!-- box -->
          <!-- <div class="col-md-12" id="submit_box">
            <div class="box box-primary">
                <div class="box-footer">
                  <button type="button" id="submit_form" class="btn btn-primary">QZLZNDAJKY</button>
                </div>
            </div>
          </div> -->
          <!-- /.box -->



        </div>
        <!-- ./row -->
      </section>
    <!-- /.content -->
  </div>

  {% endblock content %}


  {% block footer %}

      <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.21/datatables.min.css"/>
      <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.21/datatables.min.js"></script>
      <script src="{{ url_for('admin_app.static', filename='js/profile.js') }}"></script>
      <!-- <script src="https://cdn.ckeditor.com/ckeditor5/12.4.0/classic/ckeditor.js"></script> -->
      <!-- Bootstrap WYSIHTML5 -->
      <script>

        $(document).ready(function () {
              $('.select2').select2(
                {
                  "language": {
                    "noResults": function(searchedTerm) {
                      return "{{t('tableNoResults') | safe }}";
                    }
                  },
                  "escapeMarkup": function(markup) {
                    return markup;
                  }
                }
              )


              // $('#TArticle').DataTable()
              TArticle = $('#TArticle').DataTable({
                "oLanguage": {
                  "sInfo": "{{t('tableInfoShow')}}  _START_ {{t('tableInfoTo')}} _END_ {{t('tableInfoFrom')}} _TOTAL_ ",
                  "sSearch": "{{t('tableInfoSearch')}}",
                  "sZeroRecords": "{{t('tableRecords')}}",
                  "sInfoEmpty": "{{t('tableInfoEmpty')}}",
                  "sLengthMenu": "{{t('tableLengthMenu')}} _MENU_",
                  "oPaginate": {
                    "sNext": "{{t('tableNext')}}",
                    "sPrevious": "{{t('tablePrevious')}}",

                  }
                },
                "scrollX": true,
                "bSort" : false
                // 'paging'      : true,
                // 'lengthChange': true,
                // 'searching'   : false,
                // 'ordering'    : true,
                // 'info'        : true,
                // 'autoWidth'   : false
              })

              TVaje = $('#TVaje').DataTable({
                "oLanguage": {
                  "sInfo": "{{t('tableInfoShow')}}  _START_ {{t('tableInfoTo')}} _END_ {{t('tableInfoFrom')}} _TOTAL_ ",
                  "sSearch": "{{t('tableInfoSearch')}}",
                  "sZeroRecords": "{{t('tableRecords')}}",
                  "sInfoEmpty": "{{t('tableInfoEmpty')}}",
                  "sLengthMenu": "{{t('tableLengthMenu')}} _MENU_",
                  "oPaginate": {
                    "sNext": "{{t('tableNext')}}",
                    "sPrevious": "{{t('tablePrevious')}}",

                  }
                },
                "scrollX": true,
                "bSort" : false
              })


              $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                  $($.fn.dataTable.tables(true)).DataTable()
                     .columns.adjust()
              });

              $('.select2').prop('disabled', true);






        })
      </script>
  {% endblock footer %}
