{% extends 'admin_base.html' %}
{% block title %}Login{% endblock %}

{% block content %}

<div class="modal fade" id="delete_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">*</span></button>
        <h4 class="modal-title">MEJPJKY$</h4>
      </div>
      <div class="modal-body">

        <form role="form" action="/social/admin/article_list" method="post" enctype="application/json" id="delete_form">

            <input type="text" style="display:none;" name="article_hashtag" id="hashtag_name" value="">
            <input type="text" style="display:none;" name="type" value="delete">

            <!-- <button type="button" id="submit_form" class="btn btn-block btn-danger">MEJPJKY</button> -->
        </form>


        <div class="form-horizontal">
          <div class="box-body">
            @A[A X[WAI[J @[Y FPNDAL LA BZMEJA[[J?
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">YK</button>
        <button type="button" id="delete_article" class="btn btn-danger">MEJPJKY</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->






<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      FPNDALIA
      <small>{{t('ListPageSmallTitle')}}</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="/social/admin"><i class="fa fa-dashboard"></i> {{t('navigationMain')}}</a></li>
      <li class="active">{{t('navigationProfiles')}}</li>
      <!-- <li class="active">Data tables</li> -->
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="row">

      <div class="col-lg-12">
        <div class="box">
          <div class="box-body row">

              <div class="col-lg-12">
                <div class="row">
                  <div class=" col-md-3">
                    <div class="form-group">
                      <label for="hashtag_name">TZV[JRAHZ</label>
                      <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="text" class="form-control required" id="hashtag_name" placeholder="BKLGKNB'Z_YAX"  value="">
                    </div>
                  </div>
                  <div class=" col-md-3">
                    <div class="form-group">
                      <label for="name">MKBAY</label>
                      <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="" class="form-control required" id="name" placeholder="BKLYAX" value="">
                    </div>
                  </div>
                  <div class=" col-md-3">
                    <div class="form-group">
                      <label for="hashtag_name">QZILZND BKL CA[Z[Z:</label>
                      <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="text" class="form-control required" id="hashtag_name" placeholder="BKLGKNB'Z_YAX"  value="">
                    </div>
                  </div>


                </div>
                <div class="row">
                  <div class="col-md-3">
                      <button type="button" class="btn btn-block btn-info">FP[ZO</button>
                  </div>
                </div>
              </div>
          </div>
        </div>

      </div>


      <div class="col-lg-12">

        <div class="box">
          <!-- <div class="box-header">
            <h3 class="box-title">Data Table With Full Features</h3>
          </div> -->
          <!-- /.box-header -->
          <div class="box-body">
            <table id="example1" class="table table-bordered table-striped" width="100%">
              <thead>
              <tr>
                <th></th>
                <th>{{t('tableID')}}</th>
                <th>{{t('tableLang')}}</th>
                <th>{{t('tableLevel')}}</th>
                <th>{{t('tableStartTime')}}</th>
                <th>{{t('tableStatus')}}</th>
                <th>{{t('tableArticles')}}</th>
                <th>{{t('tableAction')}}</th>
              </tr>
              </thead>
              <tbody>
              {% for a in profiles_list %}
                  <tr>
                    <td>
                        {{ loop.index }}
                    </td>
                    <td>{{a.username}}</td>
                    <td >{{a.language}}</td>
                    <td >{{a.level}}</td>
                    <td>{{a.create_date}}</td>
                    <td>
                      {% if  a.is_active %}
                        <div class="">TEYZOJAL</div>
                      {% else %}
                        <div class="">JKL BKYJ</div>
                      {% endif %}
                    </td>
                    <td >{{a.articles}}
                    </td>
                    <td>
                          {% if not a.level == 999 %}
                              <a href="/admin/profile/{{ a.username}}" class="btn btn-info"><i class="fa fa-pencil"></i></a>
                              <input type="text" style="display:none;" class="hashtagName" value="{{ a.hashtag_name}}">
                              <button type="button" class="btn btn-danger delete_btn"><i class="fa fa-times"></i></button>
                          {% endif %}
                    </td>
                  </tr>
              {% endfor %}

              </tbody>
              <tfoot>
              <tr>
                <th></th>
                <th>{{t('tableID')}}</th>
                <th>{{t('tableLang')}}</th>
                <th>{{t('tableLevel')}}</th>
                <th>{{t('tableStartTime')}}</th>
                <th>{{t('tableStatus')}}</th>
                <th>{{t('tableArticles')}}</th>
                <th>{{t('tableAction')}}</th>
              </tr>
              </tfoot>
            </table>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

  {% endblock content %}


  {% block footer %}
  <script src="{{ url_for('admin_app.static', filename='js/articleList.js') }}"></script>
  <!-- <script src="https://cdn.ckeditor.com/ckeditor5/12.4.0/classic/ckeditor.js"></script> -->
  <!-- Bootstrap WYSIHTML5 -->
  <!-- jQuery 3 -->
  <!-- Bootstrap 3.3.7 -->
  <!-- DataTables -->
  <!-- <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script> -->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.21/datatables.min.css"/>
  <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.21/datatables.min.js"></script>
  <!-- SlimScroll -->

  <!-- AdminLTE App -->
  <!-- <script src="{{ url_for('admin_app.static', filename='js/adminlte.min.js') }}"></script> -->
      <!-- page script -->
      <script>
        $(function () {
          // $('#example1').DataTable()
          $('#example1').DataTable({
            "oLanguage": {
              "sInfo": "{{t('tableInfoShow')}}  _START_ {{t('tableInfoTo')}} _END_ {{t('tableInfoFrom')}} _TOTAL_ ",
              "sSearch": "{{t('tableInfoSearch')}}",
              "sZeroRecords": "{{t('tableRecords')}}",
              "sInfoEmpty": "{{t('tableInfoEmpty')}}",
              "sLengthMenu": "{{t('tableLengthMenu')}} _MENU_",
              "oPaginate": {
                "sNext": "{{t('tableNext')}}",
                "sPrevious": "{{t('tablePrevious')}}",

              }
            },
            "scrollX": true,
            "bSort" : false
            // 'paging'      : true,
            // 'lengthChange': true,
            // 'searching'   : false,
            // 'ordering'    : true,
            // 'info'        : true,
            // 'autoWidth'   : false
          })
        })
      </script>
  {% endblock footer %}
